[2019-08-30 17:54] aarona opened #6 "Gem isn't found in rubygems.org"
Trying to run `bundle` with this gem in the `Gemfile`. Get the following error:

[code]

Tried installing it like so also:

[code]
I know I can reference it directly on github but maybe change the documentation to reflect this until its published on rubygems.

[2019-08-30 18:06] mcelicalderon commented on #6
We have not released the gem yet (first version not complete yet), so it is not available at RubyGems. In the mean time if you want to try out whatever we have, you can clone this repository and point to it in you gemfile like this
[code]
Also, as we don't have any docs yet, you can refer to [this dummy app](https://github.com/graphql-device/graphql_devise/tree/master/spec/dummy) we use for testin

[2019-08-30 18:13] aarona commented on #6
I'm very patient. Don't forget I was the guy you talked to on SO last week or so. I'm opening to help contribute in anyway whether it be documentation or code or what have you. I'll clone it for now and get familiar with the code base and if you're open to pull requests, let me know.

[2019-08-30 19:59] mcelicalderon commented on #6
Thank you, and we will need help in the near future. Also, I already pushed the gem to rubygems so you should be able to download just by adding to the gemfile as usual.

[2019-09-05 20:55] aarona commented on #6
Awesome! I just noticed that before coming here. Do you guys have a slack server? If so, should I email you (in case you dont want that information public) I've installed the gem along with `devise` and `graphql` but there doesn't seem to be any references to the `types`, `queries` or `mutations` when I hit the graphql end point. Do you guys have any quick and dirty setup documentation at the mome

[2019-09-16 04:22] mcelicalderon commented on #6
Closing this one as the gem is already available in rubygems and we are about to release the first functional version (probably tomorrow).

[2019-09-16 04:22] #6 closed

[2019-10-15 00:36] aarona opened #21 "Trying to access /graphql#execute app claims action could not be found"
Here is my `routes.rb`:
[code]
Here is my rake routes output:
[code]

Now we I go to `http://localhost:3000/graphql` I get the following server error:

Started POST "/graphql" for 127.0.0.1 at 2019-10-14 17:25:41 -0700

[code]

Any idea what I could be doing wrong? Meanwhile, I'm going to play with the dummy app and see if it works for me.

[2019-10-15 15:35] mcelicalderon commented on #21
Hey @aarona looks like this might be unrelated to the gem. As you can see on your routes output, the gem uses the `auth` action on our own graphql_devise/graphql controller. How you mount your own graphql schema is a different story. For that, you should follow the graphql gem instructions and run the generator in your app. Looks like your own personal graphql controller is missing the action exec

[2019-10-15 20:59] aarona commented on #21
You're right. I figured out how I got to this issue. I'm using the GraphiQL application to hit localhost:3000/graphql_auth and it was just hanging/spinning (which should be the issue you'd be concerned with) and figured that this was related. I do have an `execute` action though:

[code]

My `graphql_auth` route is working now for some reason so I'll have to figure out what else is going on with m

[2019-10-15 20:59] #21 closed

[2019-10-16 00:18] aarona commented on #21
Ok after some research it looks like its because I'm using the create-repack-app which creates an API only rails app. This line in `execute`:

`rotect_from_forgery with: :null_session`

is causing the problem. Are you guys using API only rails apps when testing? I wonder what I should do about this? I think I can just delete that line if I use CORS and graphql_devise for authentication, right?

[2019-10-16 23:39] aarona opened #24 "NoMethodError generate_confirmation_token! but not supporting confirmable"
I'm not using the `confirmable` plugin as you can see here:

**user.rb:**
[code]

You can also see my **schema.rb** file to see that I'm not supporting it:
[code]
 I go to run the following mutation:

[code]

The record gets created but then I get the following server error:

[code]

Looks like the error is caused by calling `resource.send_confirmation_instructions` but that's dependent upon the m

[2019-10-17 02:14] aarona opened #25 "A custom issue template for discussion?"
It would be great if you added a custom issue template so that if someone has a question or would like to discuss the project, we could do that in a centralized place. Create react app has a "Question" template which you can see here: https://github.com/facebook/create-react-app/issues/new/choose

[2019-10-18 02:30] mcelicalderon commented on #24
You are right, pushing a PR to fix that now.

[2019-10-18 03:19] aarona commented on #24
![](https://pics.me.me/thumb_look-seem-helping-nemegenerator-ier-look-see-im-helping-ralph-52441823.png)

[2019-10-18 03:29] #24 closed

[2019-10-20 01:47] aarona commented on #25
You guys haven't addressed this. Do you think we don't need it? I feel like it might be a way to ask questions about what you would like added to the documentation or feature requests - some way to ask a question without it being considered an issue.

[2019-10-20 19:39] 00dav00 commented on #25
Hey @aarona this seems like a near feature to add, I think we can add it in the near future and I will keep this open to don't forget about it. Thanks for the suggestion!

[2019-10-21 10:05] Gakamine opened #28 "Add fields when user Sign Up"
Hello !
I have setup graphql_devise on my server. Everything is working but I wish I could add fields when the user sign up. For example, I wish to add a field named "username" when I'm adding a new user with the mutation "userSignUp".
How can I do that ?
Thank you.

[2019-10-21 13:00] 00dav00 commented on #28
Hi @Gakamine, in the dummy app `signUp` mutation the field `name` [was added](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/app/graphql/mutations/sign_up.rb#L3). Basically what you need to do is:
- create a mutation that inherits from `GraphqlDevise::Mutations::SignUp`
- define you custom response type, in this case `Types::UserType`.
- tell gql_devise which `signUp` muta

[2019-10-22 02:46] Gakamine commented on #28
Thank you !! @00dav00 @mcelicalderon
I think it would be a good idea to add an option in the mount method, it would be easier for small changes. I would still use the solution that @00dav00 gave me because I don't like either that my route file know too much about the model and I want to add multiple field, it would make my route file impossible to read.

[2019-10-23 01:27] aarona commented on #28
I haven't fully customized my own mutations yet since I'm still attempting a simple `create-react-app` example so I haven't hit this road block yet but I imagine being able to have your `SignUp` mutation  inherit from `GraphqlDevise::Mutations::SignUp` and add whatever fields you wanted (First Name, Last Name, Phone Number etc) and just reference that mutation in your routes config.

I agree with

[2019-10-27 04:41] aarona opened #29 "When using React, how do you solve the problem if needing two ApolloClients?"
I'm starting to build out a react app and I'm coming across what seems like a potentially big road block. Having two `ApolloClient` components. Do you guys just nest them in your `index.{tsx,jsx,js}` file like so:

[code]

and then when you want to use authentication end point (inside `App` component):

[code]

what if you need to use both in the same component? I've been looking into this and the

[2019-10-28 04:41] mcelicalderon commented on #29
Hey @aarona , so I'm not a react developer but there seem to be a couple of ways to accomplish that. As the API is client independent I don't think it should be an issue of this gem. For example this is how you have multiple graphql schemas in angular https://www.apollographql.com/docs/angular/features/multiple-clients/

For react it looks like it was also implemented from what I read on this PR h

[2019-10-28 23:31] aarona commented on #29
Yeah not an issue that you guys need to solve. See my other "issue" about wanting a way to pose questions like some other GH repos/libraries allow. I've been hearing lately that people are actually moving away from SO and are starting to post questions to the libraries they are having issues with - not because they are broken (although that could be the case) - but because they might be asking tha

[2019-10-28 23:31] #29 closed

[2019-10-30 00:24] aarona opened #31 "Potential naming convention violation found"
per @mcelicalderon 's request, I'm taking  a stab at a `ResendConfirmation` mutation. I noticed in the `routes.rb` file an inconsistency that I think should be fixed before this gem gets popular.

Consider the following code from `routes.rb`:

[code]

I believe that the mutation class should be renamed from `SendPasswordReset` to `SendResetPassword`. The other option is to change the key from `sen

[2019-10-30 02:27] mcelicalderon commented on #31
mmm you are right, I'll change it. I think opening issues with your concerns here is fine.

[2019-10-30 03:17] #31 closed

[2019-10-30 03:34] mcelicalderon commented on #28
Reopening this so I don't forget to implement

[2019-11-04 11:35] #25 closed

[2019-11-06 10:33] Gakamine opened #37 "Modify confirmation mailer"
Hello,
I'd like to change the format of the confirmation URL link in the mail template. My current URL format is:
`http://www.mydomain.com/graphql/auth?query=query($token:String!,$redirectUrl:String!){userConfirmAccount(confirmationToken:$token,redirectUrl:$redirectUrl){email}}&variables[redir$tokenectUrl]=<redirectUrl>&variables[token]=<token>`
and I wish to replace it by
`https://mydomain.com/au

[2019-11-06 14:20] mcelicalderon commented on #37
Hey @Gakamine, the existing format in the template has that format as it has a GraphQL query encoded as a url param. So clicking on that will actually hit one of the mounted queries provided by this gem. If for whatever reason you want to change it, you could just override the template in your app by creating this file in your rails project `app/views/graphql_devise/mailer/confirmation_instruction

[2019-11-06 19:13] aarona commented on #37
This is a good question that I also had because I plan on implementing this also.

[2019-11-09 04:50] aarona opened #38 ".rubocop.yml showing warnings in VSCode."
### Question

Not sure what IDE you guys are using. I've been using VSCode because its great for JS dev.
Anyway, VSCode alerted me of some warnings in our `.rubocop.yml` file:

[code]
Should I ignore this or do I need to install an extra extension or do some extra configuration?

[2019-11-09 05:33] aarona opened #39 "Devise doesn't use I18n references in its confirmation mailer. Should we?"
### What is the problem the enhancement will solve?
If I understand correctly, we want to mimic a lot of Devise's core functionality. When I took on the **Resend Confirmation** enhancement, I had noticed we were using `i18n` references in the `app/views/mailer/confirmation_instructions.html.erb` file. I added them to the gem's locale file but it looks like Devise doesn't do this. Consider the foll

[2019-11-19 03:11] #37 closed

[2019-11-20 07:56] Gakamine opened #40 "Resend verification mail when an unverified account try to log in"
Hello, I'm requesting this enhancement in case my SMTP server is down or my user not receiving the mail to verify his/her email for some reasons.
What I suggest is to resend a confirmation instruction mail when a user try to log in with an unconfirmed account.
Thanks !

[2019-11-20 14:53] mcelicalderon commented on #40
Hey @Gakamine. Right now #35 is soon to be merged and will add a resend confirmation instructions mutation. But this is not a bad idea, WDYT, @00dav00 ? We can probably make it configurable so the default behavior remains the same. One important change would be that the login mutation would need to add an optional `confirm_redirect_url` as the sign_up mutation does. Then we can check the default v

[2019-11-24 23:54] mcelicalderon commented on #40
I discussed with @00dav00 and we are not sure this is something the gem should implement as looks more like something your specific app might need to implement. A simple way to do it right now would be to override the default mutation and do something like this
[code]
After writing that piece of code I see how it might make more sense to make that part of the gem, so we'll keep this issue open unt

[2019-11-25 03:34] aarona commented on #39
Closing this because its been addressed in a PR already.

[2019-11-25 03:34] #39 closed

[2019-11-25 03:43] mcelicalderon commented on #38
As this gem still supports ruby 2.2, you need to use rubocop `v0.68.1`, you are probably using a newer version and that is why you are getting errors. Closing this one as it is not related to the functionality of the gem.

[2019-11-25 03:43] #38 closed

[2019-11-25 03:47] mcelicalderon commented on #40
Also, #35 is merged and will be released on `v0.7.0` tomorrow. Usually apps add a resend confirmation link in the event the email never arrives.

[2019-11-25 03:47] aarona commented on #38
I was just about to address this actually. It looks like you're setting `Style/MethodCalledOnDoEndBlock` to `Enabled: true` which is hiding the same rule on line 58 which sets it to `Enabled: false`. Which would you like?

[2019-11-25 03:55] mcelicalderon commented on #38
You are right about that one. We haven't really gone through the style file yet, just copied it from another project which I new has most things we usually use. Don't worry about this one, I'll take care of it with @00dav00 as we have been discussing style conventions for a while. For now it should work if you use the correct version, and also your editor loads the other gem `rubocop-rspec` which

[2019-11-25 03:59] mcelicalderon opened #42 "Gem failing with edge versions of it's dependencies"
We need to fix the currently allowed failures for the edge version of the Gemfile

[2019-11-25 04:22] aarona opened #43 "Mutation documentation is missing in the README.md"
Not sure how it happened, but the mutation documentation I added got removed/reverted and all that's left is from my last PR for the `ResendConfirmation` enhancement. That documentation update had some grammar errors that are back also. I checked to see if my PR reflected these changes but it doesn't. However, it looks like my PR broke this and I think this was my fault somehow. I shouldn't have r

[2019-11-25 04:26] mcelicalderon commented on #43
Very weird, taking a look now. Weird the PR didn't show that

[2019-11-25 04:42] mcelicalderon commented on #43
Already reverted the relevant changes @aarona , not sure how we missed this on the PR, but I think I have seen it before, github has problems refreshing the changes view when rebasing and merges happen. Closing as it has been resolved in master. Try to make your commit history cleaner next time to avoid this type of issue, merging master into your branch is always a safer thing to do as it doesn't

[2019-11-25 04:42] #43 closed

[2019-11-25 04:46] mcelicalderon commented on #43
We are not alone, looks like it is a know github issue https://stackoverflow.com/a/26986320/1755141

[2019-11-25 04:52] aarona commented on #28
You may want to support nested attributes also @mcelicalderon. Devise supports it, so it should be assumed that we would also. See: https://github.com/plataformatec/devise#strong-parameters

[2019-11-25 05:52] aarona commented on #43
Ah! Ok I thought I was going insane. Yeah I learned a lot about working with teams at git with that PR. Thanks again for asking me to contribute to this project. I've really enjoyed it!

[2019-11-25 06:14] aarona opened #45 "authenticable vs authenticatable"
### Question
Should we have a documentation/code naming standard for authenticable/authenticatable?

authenticatable has 14 results with only one in the documentation.
authenticable has 38 results with five in the documentation.

I did some googling and these mean the same thing with authenticable referencing authenticatable as being an alternate form of it (meaning authenticatable is the more sta

[2019-11-25 08:06] aarona commented on #42
I did some research on this tonight. It looks like edge Rails is causing this and graphql edge probably isn't. I didn't find a solution to this yet but the following was my train of thought while trying to solve this.

First of all, if you guys didn't know this trick (I had to look up how to do this) you can reference rails edge by doing this, which will allow you to reproduce the errors:

**Gemfi

[2019-11-25 08:16] aarona commented on #42
Ok I looked some more at rspec-rails and what I thought was a hot fix was really just a version bump change from 3.8.2 -> 3.9.0 to 3.8.2 -> 3.8.3. Probably they decided the next version was going to be a major change and ditched a 3.9.0 because they're moving to 4.0.0 beta.

This is definitely Rails edge as Rails 6.0.1 is behaving.

[2019-11-25 14:41] mcelicalderon commented on #45
You are right. @00dav00 what do you think? We do the change now ASAP?

[2019-11-25 14:42] mcelicalderon commented on #42
Nice, thanks for looking into this. I'll try to push a fix ASAP

[2019-11-25 20:08] aarona commented on #38
Hey while you were mentioning Styling fixes in my latest PR, I decided to run rubocop with the version you requested:
[code]
but I'm still getting those errors. I'm wondering what version of `rubocop-rspec` you're using?

[code]

I'm getting a little over 300 offenses when I run rubocop from the terminal. Most of them are double quote styling fixes but a few are Metrics related. Just an FYI.

[2019-11-25 23:05] #45 closed

[2019-11-26 16:26] mcelicalderon opened #47 "Error when including this gem's controller concern"
### Describe the bug

When using `GraphqlDevise::Concerns::SetUserByToken` we get a `included called twice` error from activesupport. Using DTA's `DeviseTokenAuth::Concerns::SetUserByToken` fixes the problem. Good thing that the generators use that one, so it shouldn't be a problem for now, but we should still look into that

[2019-12-09 12:36] 00dav00 opened #50 "Allow returning auth info as part to the response type"
### What is the problem the enhancement will solve?

Some gql clients expect the auth info (token, client id and expiration date) to be part of the return type instead of taking them from the response headers

### Describe the solution you have in mind

Add a field to the login mutation that includes auth info, it can be something like:

[code]
And the auth info type can look like this:

[code]

[2019-12-22 11:30] kockok opened #51 "Works with Rails 6 api only app?"
### Question

I am getting this response from graphiql-rails after sending userSignUp mutation.

[code]

[2019-12-23 01:50] mcelicalderon commented on #51
Looks like you might need to provide a default url for your environment. Take a look at this line on the dummy app https://github.com/graphql-devise/graphql_devise/blob/3310c332bcf5c82600bcfb3d7cc9a99b3cb59f2b/spec/dummy/config/environments/test.rb#L38
Make sure you set that for each environment with the correct value.

If that wasn't it, please provide additional details on the error.

[2019-12-23 02:42] kockok commented on #51
It seems that a URL path is required whilst there's no such a path in rails api only app.
![Screenshot 2019-12-23 at 10 39 16 AM](https://user-images.githubusercontent.com/232541/71332369-dfd40380-2570-11ea-9a58-14b33efe00c3.png)

[2019-12-23 02:56] #51 closed

[2019-12-24 03:05] aarona commented on #51
A side note: Look into MailCatcher when developing your application. You can find more about that from DTA's documentation. It acts as a local mail server so you can test that your emails get "sent".

[2019-12-24 07:17] kockok opened #52 "Is the gem ready for production of react-native apps?"
### Question

During the setup procedure of this gem, I happen to encounter loads of path redirects.
However, the userLogin response didn't even have a token provided.
So, It would be helpful if there's a little demo app for react-native.

[2019-12-24 10:06] kockok opened #53 "Replace the auth model concern on generator execution"
### Question

I see the concern is include `DeviseTokenAuth::Concerns::Model`
both in the docs and the dummy app.

But the generated one is `include DeviseTokenAuth::Concerns::User`

[code]

So, which one should be used?

[2019-12-24 14:59] 00dav00 commented on #52
Hi @kockok, currently the approach regarding auth info is the same as [devise-token-auth](https://github.com/lynndylanhurley/devise_token_auth), this means the tokens are sent in the response headers. You can check [this spec](https://github.com/graphql-devise/graphql_devise/blob/master/spec/requests/mutations/login_spec.rb#L28) for an example on how this works.

There is an [open issue](https://g

[2019-12-24 15:25] 00dav00 commented on #53
Hi @kockok `DeviseTokenAuth::Concerns::Model` is a wrapper on top of `include DeviseTokenAuth::Concerns::User`, so for now you can use any of them. Nevertheless I wuold recommend using `DeviseTokenAuth::Concerns::Model` since if any new features that involve modifying the integration with the model will be placed here.

I think the gem generator should replace this, so I will edit this issue so we

[2019-12-24 21:40] mcelicalderon commented on #52
I think @aarona might have worked on an example react app. But yes, as @00dav00 mentioned, the tokens are returned in the headers of the response. I have used this gem with an angular application and Apollo personally. I had to use `ApolloLink` to achieve this. Something like this
[code]
I'm not a front-end developer, so I'd love some input on this matter. As @00dav00 mentioned, we plan to add ano

[2019-12-24 21:54] mcelicalderon commented on #53
So, if you take a look at the code, our concern is just an alias for DTA's concern, so as @00dav00 said, you can use any of them for the `include` in your model. We created `GraphqlDevise::Concerns::Model` so it might be consistent with this gem and kind of hide the explicit dependency of Devise Token Auth's gem. But there's actually a bug when you use our concern on your controller as described i

[2019-12-24 22:47] aarona commented on #52
@kockok I was looking into this myself and came across a bit of a road block. Not really React related but I think Apollo related. I was trying to figure out how to have to Apollo providers but I think what you have to do is use your Apollo provider for your main queries and when trying to access your authentication graphql endpoint, you'll need to create a link/provider on the fly which looks lik

[2019-12-26 10:25] kockok commented on #53
If I use `include DeviseTokenAuth::Concerns::Model`,
it shows this error : `NameError: uninitialized constant DeviseTokenAuth::Concerns::Model`

[2019-12-26 12:48] 00dav00 commented on #53
@kockok DTA's concern is probably called `DeviseTokenAuth::Concerns::User` in you case.

[2019-12-26 18:09] mcelicalderon commented on #53
I'm about to merge #54 which fixes the bug I mentioned before on using our own modules and that I will try to release today. But to make this thread clear (also updated the docs) here's a summary on the subject.

1. For your models the generator will include `DeviseTokenAuth::Concerns::User` which is totally valid. Our generator includes that one because we just run internally DTA's generator (we

[2019-12-26 18:13] mcelicalderon commented on #52
DTA allows via configuration (is actually default) to refresh tokens in every request you make. We do not plan to include different authentication schemas on this gem in the near future @aarona. For now just wrapping DTA's code in a graphql interface.

[2019-12-26 18:19] #47 closed

[2019-12-26 20:31] mcelicalderon commented on #52
@kockok I'm merging #55 which adds credentials to the login mutation payload type. So now you can do
[code]

[2019-12-26 20:48] #50 closed

[2019-12-26 20:48] #52 closed

[2019-12-27 10:36] kockok opened #56 "Integration with graphql ruby gem"
### Question
I have to use the graphiql interface and for the time being, I have to switch between the `/auth` and `/graphql` route for graphiql.

So, I would like to ask if they both can be integrated as one single path or something.
![Screenshot 2019-12-27 at 6 32 41 PM](https://user-images.githubusercontent.com/232541/71514019-d384d900-28d7-11ea-8363-f480201caf41.png)

Thanks.

[2019-12-28 11:12] Gakamine commented on #56
Good question, it would be easier for me too.

[2019-12-28 11:24] Gakamine opened #57 "Could not find generator 'graphql_devise:install'"
Hello,
I already posted here but I'm working on a second project and I'd like to implement this gem in it.
I'm having troubles to run this gem generator. I have installed the gem and bundled (the gem appear in the output) but every time I try to run the generator I'm having this error message:
`Could not find generator 'graphql_devise:install'`
![Gem file and terminal](https://i.postimg.cc/YCYRf1k

[2019-12-28 17:24] mcelicalderon commented on #56
So, from the beginning we had to decide for having a separate endpoint for your graphql schema and the auth schema. The reason, some mutations and queries on the auth schema require for the controller not to authenticate. I don't think implementing a way to just add queries to your main schema would be nice as we would have to look into the sent query to decide whether to authenticate or not. But

[2019-12-30 03:49] #56 closed

[2019-12-30 19:58] mcelicalderon commented on #57
Hey @Gakamine, so I looked into your code and looks like you are using `v0.3.0` of this gem [here](https://github.com/Gakamine/PriviChat-Server/blob/d300f24acd362fbd671b917ca3c7922f39218277/Gemfile.lock#L96) and the generators were introduced in `v0.5.0` please try using the latest version which now is `v0.9.1`. Closing this one as I tested the latest version does have the generator, but let me kn

[2019-12-30 19:58] #57 closed

[2019-12-31 15:49] Gakamine commented on #57
Working far better. I'm just a little curious why it installed an outdated version..
Thank you !

[2020-01-22 14:27] kockok opened #58 "wrongly submitted."
wrongly submitted.

[2020-01-22 14:36] #58 closed

[2020-01-22 14:37] mcelicalderon commented on #58
Not completely sure what you mean. The default type for `authenticatable` has  only email as is the only field required by devise. Look [here](https://github.com/graphql-devise/graphql_devise/blob/4749c34aba02baebb511b6608dc1b2edee3d4729/app/graphql/graphql_devise/types/authenticatable_type.rb#L4). But of course you can change that type and use anyone you want, your own custom type. Looks at this

[2020-01-24 15:46] Gakamine opened #59 "mutation': Second definition of 'mutation(...)' (GraphqlDevise::Types::MutationType) is invalid"
Hello,

I have updated the gem to the 0.9.1 and since I can't start my application on production server.
I have the following errors: https://pastebin.com/7U9Y2V6e
Do you have any idea of what could be blocking ?
Thank you !

[2020-01-24 18:31] WoodburyShortridge commented on #59
Having save issue on production only:

`! Unable to load application: GraphQL::Error: Second definition of `mutation(...)` (GraphqlDevise::Types::MutationType) is invalid, already configured with GraphqlDevise::Types::MutationType`

@
[code]

@Gakamine any luck?

[2020-01-24 19:09] 00dav00 commented on #59
Hey @Gakamine, I'm not fully sure this is related, but I saw your stack trace shows you are using the new version of gql-ruby (1.10.0)
[code]
I think [this](https://github.com/rmosolgo/graphql-ruby/pull/2363) change merged into master with this version could be related.

Was this happening before in prod?
Could you using fixing the version of gql-ruby to v1.9.1.7 (since it seems like v1.9.1.8 is f

[2020-01-24 19:24] WoodburyShortridge commented on #59
@00dav00 Looks like you are right, downgrading to gql 1.9.1.7 worked. Should the issue move to graphql-ruby?

[2020-01-24 21:03] 00dav00 commented on #59
@WoodburyShortridge glad to know it worked! Thanks for letting us know.

I think it could be related to gql-ruby, but before moving the prob upstream, do you think you can share your `routes` file (or the relevant part of it) here?
I think that could be another place where the problem is located.

[2020-01-24 21:06] WoodburyShortridge commented on #59
sure @00dav00
[code]

[2020-01-24 21:07] Gakamine commented on #59
Fixed by downgrading gql-ruby ! :)

[2020-01-25 01:11] mcelicalderon commented on #59
Reopening this one as we need to update this gem not to support the new version of gql Ruby, or fix it so it does.

[2020-01-25 13:42] WoodburyShortridge commented on #59
@mcelicalderon agreed. Thanks.

[2020-01-26 16:21] kockok opened #60 "graphql dual endpoint integration problem"
### Question
![71514019-d384d900-28d7-11ea-8363-f480201caf41](https://user-images.githubusercontent.com/232541/73138109-fbfc2080-4099-11ea-8d00-e3054598221f.png)

I have `/auth` and the typical `/graphql` endpoints.
I use apollo with react-native.

The problem is that when I  use the `/auth` the endpoint to login and it's successful,
however, when I try to use the `/graphql` endpoint to fetch data

[2020-01-27 08:22] aarona commented on #60
I've yet find a good solution to this myself. ApolloClient doesn't really support multiple GraphQL endpoints but there seems to be something called [Apollo Federation](https://www.apollographql.com/docs/apollo-server/federation/introduction/) which I haven't looked into much because it seemed at face value it wasn't going to solve my problem.

There seems to be a consensus that you use [one](https

[2020-01-27 08:38] mcelicalderon commented on #60
As I mentioned before, I don't have enough react experience to answer this. But I did use this gem with Apollo and Angular without issues. I definitively supports multiple Graphs. From what I've read react should too, I even saw some commits on the framework that specifically enable multiple clients. Probably it is just not well documented yet.

About having a single endpoint. I guess that would b

[2020-01-27 09:39] kockok commented on #60
Yes, Apollo does support multiple endpoints via the `client` option.
And yet, the problem I am facing is that once I switch to another ApolloClient instance, the whole auth mechanism breaks.
I hope someone also using react-native could give me a hint.

[2020-01-29 09:44] mcelicalderon commented on #60
I'm closing this one as it's not really related to the gem, but to the specific Apollo client on react. Of course, feel free to post and discuss here any possible solutions. [This article](https://medium.com/open-graphql/apollo-multiple-clients-with-react-b34b571210a5) discusses some possible approaches. I will look into `Apollo Federation` as a possible way to solve this problem on the backend.,

[2020-01-29 09:44] #60 closed

[2020-01-29 09:54] mcelicalderon commented on #40
Closing this one as this is not something generic the gem should implement, but something specific to some applications. Current version of the gem does allow you to implement this flow in your app as demonstrated on the code snippet above.

Also, I don't think I've ever used an app that automatically resends the confirmation email upon trying to login to an unconfirmed account. A more common flow

[2020-01-29 09:54] #40 closed

[2020-02-02 09:31] scope2229 opened #61 "Fresh rails 6 install with graphql_devise fails to install graphql and devise."
### Describe the bug
After a fresh install of rails app using the below command

Rails new test_app -T -d postgresql --skip-sprockets --skip-turbolinks --skip-actionmailer

the gem 'graphql_devise'

installs
Using devise 4.7.1
Using devise_token_auth 1.1.3
Using graphql 1.10.2
Using graphql_devise 0.9.1

when the install command is given an error is raised about the user.

 `rails generate graphql

[2020-02-02 09:38] mcelicalderon commented on #61
Thanks for the report! Can't give a closer look right now, but my guess is
that the generator expects you to have the `User` model defined before
actually running the installer (it shouldn't expect that) . Give that a try
and I will take a closer look tomorrow.

On Sun, Feb 2, 2020, 17:31 scope2229 <notifications@github.com> wrote:

[2020-02-02 09:48] scope2229 commented on #61
Erm it's not possible to generate anything.

'rails generate devise:install'

`rails g model User`

[2020-02-02 09:49] scope2229 commented on #61
I'm going to try and do a fresh install of rails app but only with option -T -d postgresql --skip-sprockets --skip-turbolinks

[2020-02-02 09:59] mcelicalderon commented on #61
Weird that you can't generate a plain activerecord model. But could you try
manually creating the User class inside the models directory? That should
fix the undefined constant error at least for now.

On Sun, Feb 2, 2020, 17:49 scope2229 <notifications@github.com> wrote:

[2020-02-02 10:01] mcelicalderon commented on #61
Mmm looks like the error now might be coming from an already modified routes file. Try removing those changes and then generating the model.

[2020-02-02 12:21] scope2229 commented on #61
There aren't any changes. Its a completely clean app nothing else but graphql_devise and adding the model didnt make a difference either

[2020-02-02 12:22] scope2229 commented on #61
Although i would have thought more people would be experiencing this type of error not just myself. I'll try one last time with a completely clean install (will clean  my gems)

[2020-02-02 14:58] mcelicalderon commented on #61
OK I think I know what happened. I just tested and repeated multiple times getting the same backtrace as you did @scope2229. Did you get an error first about the Postgres DB not existing the first time you run the generator? Because that is what happened to me on a new project too. And then, after running `db:setup` to create the missing DBs I got the same error you did `NameError: uninitialized c

[2020-02-02 14:58] #61 closed

[2020-02-02 16:27] #59 closed

[2020-02-05 03:34] mcelicalderon opened #66 "Add case insensitive fields to sign_up and login"
Both Devise and Devise Token auth enable a mechanism to support case insensitive sign_up and login via configuration on Devise's initializer. We should honor that configuration and we currently don't.

[2020-02-18 07:19] mcelicalderon commented on #42
Closing this one as this is a problem only with the latest (master) rails. mIght be lack of compatibility with RSpec from a quick test. Anyway, not really related to this gem.

[2020-02-18 07:19] #42 closed

[2020-02-29 04:24] davidrunger commented on #42
@aarona I think that this issue
[code]

might have been introduced by https://github.com/rails/rails/pull/37770 ?

That PR switched a method call from `method_name` to `name` ([here](https://github.com/rails/rails/pull/37770/files#diff-793053363f19bfca117c441bbb685b83R101)). I think that `name` is sometimes not defined, which gets bubbled up through some `method_missing`s in RSpec and produces thi

[2020-02-29 04:29] aarona commented on #42
Thanks for the information, @davidrunger !

[2020-03-21 07:12] dwthien opened #69 "Routes mount_graphql_devise_for with module not work"
### Describe the bug

I used mount_graphql_devise_for 'User::Customer' with struct models/user/customer. The error with message: :uninitialized constant UserCustomer

I tested with mount_devise_token_auth_for 'User::Customer' and it worked with devise_token_auth.

ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux]
rails (6.0.2.1)

[2020-03-21 12:13] mcelicalderon commented on #69
Hey @dwthien, thank you for the report! I will look into this as soon as possible, but at least a backtrace from the error would help a lot identifying the problem.

[2020-03-21 12:52] dwthien commented on #69
Hi @mcelicalderon ,
thank you for the reply, this is the best gem for me.

if I move customer come out parent folder, it worked, but I want to use the module to group the use, I attached some pictures in here about the error:
![image](https://user-images.githubusercontent.com/25741737/77226735-18ee3500-6bad-11ea-8d8e-973da5716f09.png)
![image](https://user-images.githubusercontent.com/25741737/772

[2020-03-21 12:56] mcelicalderon commented on #69
Thank you @dwthien, that is really helpful. I have identified the error. Will publish a fix as soon as possible

[2020-03-21 16:27] #69 closed

[2020-03-21 16:36] mcelicalderon commented on #69
`v0.10.1` was released and fixes this bug @dwthien ;)

[2020-03-21 17:20] dwthien commented on #69
thank a lot, actually, I pull code from your branch, haha
now I will pull again, once thank you very much for your support  @mcelicalderon

[2020-03-28 16:09] mcelicalderon commented on #42
Happy to confirm this is fixed with the recent release of RSpec 4.0! Thank you both for looking into this. @davidrunger  you can get rid of the monkey patch now 🙌. #72 takes care of this.

[2020-03-28 16:44] dbesserman opened #73 "Tokens seem to have a very short lifespan"
I have a react app and I use `graphql_devise` on a rails backend to authenticate.
Authentication works fine except that the token seem to last about a minute.
Is it the expected behaviour?

Here's how I use `graphql_devise`:

I use an apollo client for authentication and another apollo client for fetching the resources. Fetching resources requires authentication.

First I authenticate by using the

[2020-03-29 14:49] 00dav00 commented on #73
Hi @dbesserman, the token life span is controlled by the devise-token-auth `token_lifespan` config set in the gem initializer. You can check the docs [here](https://devise-token-auth.gitbook.io/devise-token-auth/config/initialization).

Please let me know if this solves your problem.

[2020-03-29 17:11] dbesserman commented on #73
Hi @00dav00
It doesn't work. I went into `config/initializers/devise_token_auth.rb` and set the `token_lifespan` to 2 weeks. Then I restarted the rails server. I still get the same behavior.

`localStorage` in the browser and `User.last.tokens` in rails console don't seem to change after I lose the authentication

After a bit of experimentation I realized that that I do not lose the authentication

[2020-03-29 18:18] mcelicalderon commented on #73
Hey @dbesserman, I think your problem might be related to this configuration `change_headers_on_each_request` that you can set to false on the same file @00dav00 pointed out. DTA invalidates the old and generates a new one in each request you make.

So just do `config.change_headers_on_each_request = false` in `config/initializers/devise_token_auth.rb`. BUt you still need to set an appropriate tok

[2020-03-29 18:21] mcelicalderon commented on #73
About the trackable module, we just run generator for the underlying gems that this one uses. So the generated migration at least for now, depends on Devise. Here's a link to add the trackable module https://github.com/heartcombo/devise/wiki/How-To:-Add-:trackable-to-Users.

We'll try to make the readme file clearer about how to configure these gems in a better way.

[2020-03-29 22:23] mcelicalderon commented on #73
Also, if you can still make requests in one tab, that only means that the problem you are having is on the react app. Yo will have to log back in for the `life_span` setting to be reflected as the expiration time is saved on the database when you login.

[2020-03-30 10:03] dbesserman commented on #73
Hello @mcelicalderon. Thanks for your input.

The part about the client causing the issue seems a bit odd to me. Correct me if I'm wrong but the way I understand it, the backend identifies the client through credentials that are located in the headers of the request.

Here are the headers of a successful request:

![success](https://user-images.githubusercontent.com/13084838/77900085-cd5b1b80-727d

[2020-03-30 10:25] mcelicalderon commented on #73
Correct, that's how the backend identifies the user. And I'm not sure why that might be happening to you but for me still seems related to how the client is making the request, so to discard that the client is the problem you need to test the requests outside of your react app and report here if the problem persists. I would recommend using  Insomnia or Postman which have a friendly interface for

[2020-03-30 12:40] dbesserman commented on #73
I have the same issue with insomnia. I authenticated, copied the credentials in another query.
The first query worked. I did the same query again (by pressing Cmd + r) and got a 401.

[2020-03-30 13:50] mcelicalderon commented on #73
ok thank you for testing that. Now, we need to replicate the problem. Is there a way you can upload the code to a repository I can look into? If not, please create an empty rails project where you can replicate the same you are using right now, specially make sure you are using the same versions of gems. Maybe then we can identify the issue.

[2020-03-30 15:35] dbesserman commented on #73
I'm sorry. I somehow missed [this](https://github.com/graphql-devise/graphql_devise/issues/73#issuecomment-605677781).
Thanks a lot @mcelicalderon !

On a side note. I'm curious about how the client can keep up with headers changing on each request. I wonder how that might work when the client sends asynchronous request. Do you have by any change a resource in mind on the subject?

Thanks again.

[2020-03-30 15:35] #73 closed

[2020-03-30 16:44] mcelicalderon commented on #73
This gem is a GQL interface on top of the [Devise Token Auth gem](https://github.com/lynndylanhurley/devise_token_auth) so to really use our gem to it's full potential I would recommend reading their docs (something I'll try to make clearer on our readme file). [Here](https://devise-token-auth.gitbook.io/devise-token-auth/config/initialization) is the explanation for each option you can set on the

[2020-04-03 10:47] mcelicalderon opened #75 "Improve docs. Better reference to Devise and DTA."
### What is the problem the enhancement will solve?

People might not be aware how closely related this gem is to DTA and Devise. Adding a better explanation will allow people to better configure this gem on their projects

### Describe the solution you have in mind

Readme should have an entire section about configuration where we do give some direct examples, but mostly point in a clear way to D

[2020-04-03 10:49] mcelicalderon opened #76 "Default `change_headers_on_each_request` to false"
DTA's default configuration to change headers on each request might be too much as the most common scenario is to save tokens that will last longer than a single request. We can't change DTA (or maybe propose they change the default with a PR). But at least for this gem I propose the generator sets `change_headers_on_each_request  = false` by default. WDYT, @00dav00 ?

### Context
#73 shows this c

[2020-04-04 01:41] Dujota opened #77 "Could not find generator 'graphql_devise:install'. Maybe you meant "graphql:install"?"
gems:
[code]

following the gem's install instructions:

i do `bundle add graphql_devise`

then i run

`rails g graphql_devise:install`

output is :

[code]

when i run `rails g --help` i also do not see

Couldn't find anything here to indicate what could be the issue, other than update >0.9 which is not the problem here.

cheers.

[2020-04-04 08:50] mcelicalderon commented on #77
Hey @Dujota thank you for the report. I just tested on a new rails project with the gem version you specified, but unless you provide the `Gemfile.lock` file I can't know for sure that I used the exact same version. Actually, if you could provide both `Gemfile` and `Gemfile.lock` together in a gist, that would be great. I also tried with ruby 2.7.0.
Also, running `rails` directly as you example sh

[2020-04-04 14:54] Dujota commented on #77
@mcelicalderon thank you for the quick response 👍

`bundle install` is successful
[code]

I ran all 3 `bundle exec rails g graphql_devise:install`  & `bin/rails g graphql_devise:install` plus `rails g graphql_devise`

they all spit out the same output
[code]

As requested:

`Gemfile` :  https://gist.github.com/Dujota/e339b9e6c5325637c95be7d5a590783a

`Gemfile.lock` : https://gist.github.com/Dujota

[2020-04-04 22:13] mcelicalderon commented on #77
Thank you for providing the gists. I have tried those locally using ruby 2.7.0 and I'm still unable to see the same problem. Now we need a way to replicate what you are seeing. If you can provide a public repo with the app causing this issue that'd be great, if not, the next best thing would be any rails app in a repository where you can consistently see this behavior. Only then I will be able to

[2020-04-04 23:17] 00dav00 commented on #77
Hey @Dujota , any chance you are using something like `spring`?
Sometimes that needs a restart installing new gems.

[2020-04-07 03:39] Dujota commented on #77
@00dav00 hey, good call on `spring` i had to run `spring stop`

[2020-04-07 03:40] #77 closed

[2020-04-07 06:57] aarona commented on #73
@dbesserman an off topic question/request. How are you supporting to GraphQL end points in your React app? Do you have a link to an article or even possibly some sample code? I haven't been able to solve this so I've been using a restful interface for authentication because I can't seem to figure out how to get Apollo to support to GQL clients.

[2020-04-13 16:27] #66 closed

[2020-04-21 12:53] benoitcalin opened #83 "Get the Mutations going"
Hi all,

We are currently trying out this gem for a new project after some weeks of inquiries on GraphQL.

The migration part is not perfectly clear for us, we found some migration files in lib directory but thought it would be generated by the gem. Are we doing something wrong or are we supposed to add the mutations/resolvers manually ?

In case we have to do it manually does anyone has an exampl

[2020-04-21 14:39] 00dav00 commented on #83
Hi @benoitcalin, migrations are directly coming from DTA. They should be installed if you use when you generate the route for the resource using a command like this `rails g graphql_devise:install Admin api/auth` .

The [installation part](https://github.com/graphql-devise/graphql_devise#installation) of the README has more details in what is happening here.

Please let me knwo if you find what yo

[2020-04-21 14:42] benoitcalin commented on #83
Thanks a lot you 00dav00, we will try it again tomorrow and keep you updated, we must have done something wrong the several previous times ;)

[2020-04-21 17:19] mcelicalderon commented on #83
AS @00dav00 mentioned, install generators should take care of it, and you definitively don't have to add mutations and queries manually, that's all done for you depending of the options you pass to the mount method. Just remember that the entire auth schema this gem generates is mounted in a separate route from your app's actual GQL schema. The [dummy app](https://github.com/graphql-devise/graphql

[2020-04-22 08:35] benoitcalin commented on #83
Thanks @mcelicalderon it's clearer for us with your explanations, we were trying to access this mutations for tests through graphiql without understanding that it was mounted somewhere else.

[2020-04-22 19:43] mcelicalderon commented on #83
We have some docs updates pending that we will definitively work on soon. We can close this one then as part of that change.

[2020-04-29 05:27] #75 closed

[2020-04-29 05:28] #83 closed

[2020-05-04 07:37] mateosuburu opened #85 ""Unexpected parent_type" error on userConfirmAccount query"
### Describe the bug
I have been trying out this gem for the last couple of days and so far it's been awesome, so thanks for the great work!

Trying out the `userConfirmAccount` flow, I get:
[code]
I kept digging and found that this happened with the Dummy query too. Not sure if it might be environment related?

### Environment

[Gemfile](https://gist.github.com/mateosuburu/5517f1faf55c7fb6f8c19cf

[2020-05-05 02:51] #85 closed

[2020-05-20 18:25] single-stop-rj opened #90 "ActionController::InvalidAuthenticityToken for fresh install"
### Describe the bug
Im not sure if there is some config item I am missing, but this seems like a localized issue.

Trying to use the gem results in

[code]

my application controller
[code]

### Steps to reproduce
I installed this from scratch. I also have my own graphql API mounted at /graphql.
The auth one is the only one throwing the error unless I remove CSRF protection

[2020-05-20 20:28] mcelicalderon commented on #90
Hey @single-stop-rj! I see what's going on there. So you are running this API alongside a regular full-stack rails app? If so, do you use standard devise there?

[2020-05-20 20:29] single-stop-rj commented on #90
Yes. Thats exactly what I have!

I also have added the config item

`config.enable_standard_devise_support = true` in the init file, if that helps.

[2020-05-20 20:42] mcelicalderon commented on #90
Ok! So, as described in the Readme file, support for standard devise together with this gem is experimental and I know for a fact that some things might misbehave. But in general, there's usually a way to make it work. But for your main problem, this is the best solution I have found and the one I use (kind of) https://devise-token-auth.gitbook.io/devise-token-auth/faq#another-method-for-using-thi

[2020-05-21 13:57] single-stop-rj commented on #90
It all makes sense now. Ok. Thank you so much.

[2020-05-21 16:53] mcelicalderon commented on #90
Mmm just an additional note @single-stop-rj what I suggested will actually remove forgery_protection from your standard devise controllers, which is not ideal. I'll see what we can do in this gem to not force you to do that.

[2020-05-22 11:30] grdmnt opened #92 "Separate endpoint for graphql auth mandatory"
### Question

Is it possible to mount the new auth mutations/queries into my main /graphql route? Or is there a reason why there's a separate endpoint specifically for auth?

[2020-05-22 12:35] 00dav00 commented on #92
Hey @grdmnt, at the moment all queries and mutations are added to the gem gql schema, there is no option to specify which schema they will be added to.

[2020-05-22 12:38] grdmnt commented on #92
Got it! If ever, would you guys accept some help to implement this? I haven’t done much contribution to open source, but I’m willing to give this a shot.

[2020-05-22 14:31] mcelicalderon commented on #92
Of course, @grdmnt! And this is something we have discussed in the past, but we haven't been able to think of a clean way to do it. So, before you actually give it a shot, let us know here how you might implement it. Main problem is, that some auth schema mutations require us to skip the `authenticate_resource!` call on the controller (login for example) that you have setup in your app's controlle

[2020-05-22 20:53] aarona commented on #92
I'm learning more about GraphQL these days and I'm looking to do something like this. @mcelicalderon not sure if you knew this or not but I had ported DTA to support JWT tokens. My plan was to create something like this gem so that it would use a standard authentication (JWT tokens). A few more things I'd like to add to it but I think I might integrate a graphql interface into it as well. Just nee

[2020-05-23 00:02] mcelicalderon commented on #92
Nice @aarona, we might look into having JWT as a configurable option at some point. This project might interest you too https://github.com/o2web/graphql-auth

And about the question in this issue, I will also look a bit closer to see if I might have misinterpreted what I read. And even if we are not supposed to do authentication inside the schema, I think the ability to opt-in might work for some

[2020-05-23 00:10] #53 closed

[2020-05-23 00:10] #76 closed

[2020-05-23 03:49] mcelicalderon commented on #90
@single-stop-rj #93 will take care of this, forgery_protection should not be a problem anymore and you don't have to change anything in order to avoid it. But, if you are using regular devise and if you were calling `before_action :authenticate_user!` in your `ApplicationController`, you will still need to change your controller structure as I described before.

[2020-05-23 09:28] grdmnt commented on #92
Oh. After using the gem for a bit, I now get it why there's a need to separate the auth to the main schema. Currently there's no way to auth a graphql schema partially right? So it's either I auth the entire thing or I make it public. With that said, I guess there's no real need to do this just yet unless more people wants to do it.

I think improving the docs to make this more obvious would be ni

[2020-05-23 13:21] #90 closed

[2020-05-23 16:12] aarona commented on #92
@grdmnt , no thats actually not true! If you forgo the `authenticate_user!` method in your `graphql#execute` method/controller but you ARE authenticated, you will have access to `current_user` in that method as non-nil (it would be nil if you were not authenticated) then you pass `current_user` into the query context like so:

[code]

Now you have access to `current_user` inside your queries and m

[2020-05-23 19:16] grdmnt commented on #92
@aarona can you expound on this part `If you forgo the authenticate_user! method in your graphql#execute method/controller but you ARE authenticated`. How would be authenticated if you remove the `authenticate_user!` callback for your graphql controller actions? Are you suggesting that you can partially authenticate your graphql schema? If so, does that mean we can authenticate the user right afte

[2020-05-23 20:34] aarona commented on #92
Sorry, I wasn't being very clear. If you use the `authenticate_user!` call back, you're forcing the end user to be a valid authenticated user BEFORE the `#execute` method is called. You can forgo this and rely DTA (or in this case GraphQL Devise) to authenticate as normal and then you can pass `current_user` into the GQL query `context`. You're not guaranteed that `current_user` will be a valid us

[2020-05-24 10:57] grdmnt commented on #92
@aarona Thanks for that thorough explanation on how this would work! Will try that on my project as well!

I think this issue is getting out of topic already, but I think the explanation given by @aarona would be useful when deciding on how to actually implement on combining the auth endpoints in other graphql schemas.

[2020-05-25 03:23] aarona commented on #92
@grdmnt you're welcome!

[2020-05-30 12:29] single-stop-rj opened #95 "A way to support OTA in the GQL Devise Schema"
### Question
I'm looking at setting up some OTA for a subset of users, but I'm not sure how I can expand the GraphQL Devise schema to support this. We are current;y running side by side /graphql and /auth endpoints.

Basically looking for a way to pass an email address/phone number to the auth endpoint that would trigger the MFA to fire, and the other endpoint that would accept the 5 digit code.

[2020-05-30 13:32] 00dav00 commented on #95
Hey @single-stop-rj, to achive this you most likely have to set your own mutation for login. There is an example of how to do this in the rails dummy we are using to run the specs.

The steps would be:
- Create you own login mutation ([example in the specs](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/app/graphql/mutations/login.rb))
- Use this mutation when mounting the

[2020-05-30 13:49] single-stop-rj commented on #95
Sort of. I mean. I guess I want to support the original way. looking at the demo app, it seems as if I should be able to just create my own mutations and load them via the class inheritance.

I think a requestOTA mutation where the params could be email address or phone number, and the a verifyOTA mutation that will accept the passcode, and then assign the authenticatable user to the proper contex

[2020-05-30 14:11] 00dav00 commented on #95
@single-stop-rj You can also add custom [mutations](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/config/routes.rb#L5) and [queries](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/config/routes.rb#L7) to the auth schema if that fits your project needs better.

Quick question, with OTA you are referring to something like [this](https://en.wikipedia

[2020-05-30 14:16] single-stop-rj commented on #95
Yep. looking at incorporating Twilio and [this](https://github.com/heapsource/active_model_otp) so that users can have MFA / or OTAC(one-time access codes)  / OTP (one-time passwords )

[2020-05-30 14:27] 00dav00 commented on #95
I worked on a project with OTP recently and the solution was the following:
- Add additional param to login mutation for the otp
- When the otp param is not send the login mutation will verify user/password and send the otp
- When the otp param is send the login mutation will verify user/password and otp and create the jwt token

In that case we already knew the email/phone of the user, but I thin

[2020-05-30 14:29] single-stop-rj commented on #95
That's a good approach, handling it in one mutation. I think my reasoning behind the separation would be to understand the separate processes and not have this master mutation that would handle all of the cases. Sort of a Single Responsibility thing. But, I'll play around with it. Thanks for the links!

[2020-05-30 19:58] #95 closed

[2020-05-31 23:37] mcelicalderon commented on #92
Might take a while, but we are implementing this on #96

[2020-06-07 19:15] grdmnt opened #97 "ActiveAdmin support"
### Question
Since activeadmin relies on `ApplicationController` the same with this gem, they're going to conflict given that activeadmin uses the standard devise while this gem relies on DTA. Is there a way where we can specify the controller that this gem uses?

[2020-06-07 19:22] grdmnt commented on #97
My bad. Saw the recent updates for this gem and updating it to `0.11.4` resolves this issue.

[2020-06-07 19:22] #97 closed

[2020-06-07 19:23] mcelicalderon commented on #97
Hey @grdmnt, perhaps you can do something similar to what I described in this issue https://github.com/graphql-devise/graphql_devise/issues/90#issuecomment-631715313

But actually, I'm working on a new version of this gem where we won't inherit from application controller.

[2020-06-07 19:25] mcelicalderon commented on #97
Oh, I guess you were having authenticity token issues then. But yes, the issue I shared describes everything related to that. Also, there won't be a need for that after this pr https://github.com/graphql-devise/graphql_devise/pull/96

[2020-06-07 19:26] grdmnt commented on #97
Got it! @mcelicalderon. Sorry for the unnecessary issue 😅  Thanks man!

[2020-06-08 14:57] jpmermoz opened #98 "Insecure send password reset mutation?"
Hi there, first of all thank you for this amazing gem.

I was looking at the SendPasswordReset mutation (https://github.com/graphql-devise/graphql_devise/blob/master/lib/graphql_devise/mutations/send_password_reset.rb), and I can see that it returns an "**authenticatable**" instance.

Is this a security issue? Can somebody just request something like this and get private information about the user

[2020-06-08 15:12] 00dav00 commented on #98
Hey @jpmermoz,  this suggestion makes a lot of sense. I was checking what devise do in this cases and it seems like return a redirect which can not be sent in gql AFAIK.

I think a sensitive value to return could be a flag indicating success if the operation finished without any exceptions being raised. WDYT @jpmermoz @mcelicalderon ?

[2020-06-08 15:22] mcelicalderon commented on #98
Oh my, you are absolutely right @jpmermoz. I guess we need to selectively add the authenticatable field to mutations and queries @00dav00. For anyone facing this issue, what you can do until we fix it is just provide your own mutation for this operation. It can just inherit from `GraphqlDevise::Mutations::SendPasswordReset` and call `super` directly, but by doing this, the gem won't add the authen

[2020-06-12 00:01] #92 closed

[2020-06-12 17:28] #98 closed

[2020-06-12 22:32] 00dav00 commented on #98
@jpmermoz #100 should take case of this issue, please update to the latest version to get the change in your project. Thanks again for reporting this!

[2020-06-13 16:34] jpmermoz commented on #98
@00dav00 Great! I've just updated my project and it works as expected.
Thank you so much.

[2020-06-13 18:21] grdmnt opened #102 "Reconfirmable not setting unconfirmed_email"
### Describe the bug

So I have `Devise.reconfirmable` set to true and have the `user.unconfirmed_email` attribute. I've tried updating an email of a confirmed user and it doesn't set the `unconfirmed_email` attribute. I thought that this might be a compatibility issue with some gem, but I tried this on a fresh rails app with only `graphql_devise` installed and the issue still persists.

I thought

[2020-06-13 18:51] grdmnt commented on #102
Checked where devise puts the old email into `unconfirmed_email` and it led me to this line in devise:
https://github.com/heartcombo/devise/blob/fee43f3c11e176c53c5c3bfda7fd2e97c4c912be/lib/devise/models/confirmable.rb#L58

Tried to debug it by adding this into my user model.
[code]
Tried checking the condition and this specific line is making this conditional false

https://github.com/heartcombo/

[2020-06-13 19:14] mcelicalderon commented on #102
Hey @grdmnt. Yes, this is a known issue with devise token auth. Their model concern overrides a method that breaks this. Y made it work on a project and will post what I did, here, later. But maybe this is something we can fix in this gem. I'll take a look into implementing a fix for this.

[2020-06-13 19:20] grdmnt commented on #102
Got back from a bit of digging. The new DTA version (1.1.4) released this month includes this fix:
https://github.com/lynndylanhurley/devise_token_auth/pull/1343

So after putting this line in the `devise_token_auth` intializer: `config.send_confirmation_email = true`, everything worked. Make sure to have `config.default_confirm_success_url` set as well though.

[2020-06-13 19:30] mcelicalderon commented on #102
Really? That's awesome! I'm glad they fixed it. Thank you for looking into that.

[2020-06-13 20:02] mcelicalderon commented on #102
Closing this one as this is fixed by upgrading to devise_token_auth to v1.1.4

[2020-06-15 10:37] pelarejo opened #103 "Devise mapping error"
### Describe the bug

Hi,
I've been trying to install `graphql_devise` in a rails API app.
After initializing the gem to be mounted in the schema,
the before_action in graphql_controller `set_resource_by_token(:user)` fails with:

```NoMethodError (undefined method `to' for nil:NilClass)```

I suspect a failure in mounting devise or I misunderstood something.

### Environment

Gemfile:
https://git

[2020-06-15 12:23] 00dav00 commented on #103
Hey @pelarejo, [your controller](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/app/controllers/api/v1/graphql_controller.rb#L4) seems to be missing the concern gem concern. Please take a look at the [dummy project controller](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/app/controllers/api/v1/graphql_controller.rb#L4) as an example.

Do you reme

[2020-06-15 12:58] pelarejo commented on #103
Hi @00dav00,

The generator adds the `GraphqlDevise::Concerns::SetUserByToken` concern in the [ApplicationController](https://github.com/pelarejo/gql_devise_error_demo/blob/master/app/controllers/application_controller.rb) by itself. Does it not work through inheritance ?

I have written all steps required to create the project in its README. Here is the generator line:
[code]

[2020-06-15 15:47] mcelicalderon commented on #103
Hey @pelarejo ! Thank you for providing a repo with the error. I'll take a look into this ASAP.

[2020-06-15 15:51] mcelicalderon commented on #103
Ok, I figured it out and you are right, @pelarejo 🤦 . This is a problem with eager_loading. Works fine in production environments, but you will have this problem in any env that has eager_loading disabled. In the mean time you can fix it by just enabling that and I will figure out a way to fix this ASAP.

[2020-06-15 19:21] pelarejo commented on #103
Hey @mcelicalderon,

I suspected something as such, I'll do the temporary fix you suggested.
I wish I could help out but my understanding of rails' eager_loading is too limited.

Thank you very much for the very fast updates, the recent changes introduced in v0.12 are amazing. Keep it up !

[2020-06-15 20:24] single-stop-rj opened #104 "no query string for email reset"
### Question
hey team. I'm hoping I'm just having a brain fart, but I am working through this email reset.

[code]

[code]
[code]
decoded
[code]
It looks like a query string is in fact present in the uri however.

Am I just missing something?

[2020-06-15 20:32] mcelicalderon commented on #103
You are welcome! And just to provide a better understanding of what's going on, you don't even need to enable eager loading in the entire app, that's just one way to make sure your `TestAppSchema ` class is loaded by Rails before a request happens. So, just calling your class (TestAppSchema) anywhere in your code (maybe an initializer) will fix the problem

[2020-06-15 23:27] mcelicalderon commented on #104
Hey @single-stop-rj! I see what's happening. You are passing a redirect url for your `auth` route. The redirect url should actually be a place where you want the user that clicked on the link to land after hitting the API to verify tokens. So you getting this message means it is working. Pass something like http://google.com as a redirectUrl and you'll see how you land on google, but with credenti

[2020-06-15 23:39] mcelicalderon opened #105 "Separate endpoint url for mailers even if mounting the gem in your own schema"
### Describe the bug
Mailers include a link to be clicked and the base url for these is always fixed to the gem's graphql controller. This won't work when you mount the auth schema in your very own GQL schema.

We need to find a way to capture the currentUrl on the signUp, sendPasswordReset and resendConfirmation mutations.

If anyone is facing an issue with this, until fixed I would recommend als

[2020-06-16 13:13] single-stop-rj commented on #104
Thank you. It makes sense now! Also happy that you pointed out that it does not yet work in my own schema, as that was the next trip down the hole.

[2020-06-16 14:14] grdmnt commented on #102
I think we have to open this back up since when we add set `config.send_confirmation_email` to true, it uses the confirmation email template from DTA instead of the one given in this gem.

[2020-06-16 14:18] mcelicalderon commented on #102
Oh no, thank you for trying all of this out. I can take a look at it later. In the mean time, you can just replace the mailer with your own in the devise directory as I guess that's the one the method is using

[2020-06-16 14:20] grdmnt commented on #102
Yep! I'm currently just copying the mailer template given in this gem. I'll update this issue if I get problems with it.

[2020-06-16 16:01] mcelicalderon commented on #104
🙌 That will be fixed by #106

[2020-06-17 03:02] mcelicalderon commented on #103
Rails autoload is crazy 😱 so don't try the initializer thing, it won't work. Eager loading does work, but #107 takes care of this

[2020-06-17 09:21] pelarejo commented on #103
I know right ! I decided to call my schema in the `before_action` instead, it seems to work fine.

I've taken a look at #107, it's not bad at all ! A bit of a shame to make the use of `graphql_context` a requirement but I expect most people will use it anyway.

[2020-06-17 13:52] mcelicalderon commented on #103
In the end I think it is even better to force the use of the method. That way we can change things with the gem without having users to modify it across versions. And of course you can merge anything else you need to that the returned hash of the method. It will always be a hash.

[2020-06-17 14:23] #103 closed

[2020-06-17 17:06] #105 closed

[2020-06-17 17:15] mcelicalderon commented on #103
Just wanted to be clear on the fact that using the method `graphql_context` is not really a requirement, but just recommended. As long as you understand what the method returns (might change across versions) you can build the hash yourself. For the current version, this 2 are equal:
[code]

[2020-06-17 21:14] pelarejo commented on #103
Thanks for the clarification, I've already updated the gem, everything works as expected.
Cheers !

[2020-06-21 06:06] grdmnt opened #110 "Checking for `performed?` when mounting into your graphql schema."
### What is the problem the enhancement will solve?

I saw that in this gem's codebase that the controller checks for `performed?` since `confirmAccount` and `checkPasswordToken` calls `redirect_to` to the given redirectUrl or the default redirect url. Since by default, the `graphql-ruby` gem does not have this `performed?` check in the default graphql controller, this might look like a bug for `g

[2020-06-21 08:55] grdmnt commented on #102
Figured out how to make things work for reconfirmable.

[code]

Added these in my devise model. Take note that the ApiSchema is being preloaded before sending since when I try to update in console, it fails since the devise mappings are not yet loaded, given that the resource loaders aren't called yet at that point in console.

I'll be testing this out more and see if there are edge cases still. I

[2020-06-21 15:35] mcelicalderon commented on #102
Hey @grdmnt! Thank you for looking into that. Yeah, now I remember the sync uid thing was a problem. I remember fixing that not in the best way, I bet your solution is better.

But after giving this fix a try on #109 I realized that the level of complexity for this goes 3 levels deep as most of the implementation is in Devise. So, we concluded that the best way to fix this is by providing our own

[2020-06-21 15:44] mcelicalderon commented on #110
You are absolutely right, and I bet there are a couple of things that will keep coming up when you mount this on your own schema. And yes, for this not sure there is something else we can do but document it. We also need to add more tests on the mount in your app schema part, probably all the ones we have for the separate route.

Thanks for the report!

[2020-06-21 17:54] grdmnt commented on #102
That would be a nice addition. Now that you mentioned that, you're right, there's a big chance that my workaround would easily get broken when DTA or Devise starts to do something different about these. I hope it doesn't break soon HAHA. Looking forward for the new feature! Thanks man!

[2020-06-22 11:41] grdmnt opened #112 "CookieOverflow for Own Schema Mount"
### Describe the bug

When using the own schema mount option, our session cookie overflows. This happened immediately after I removed the routes.rb mount option. This is due to the value being saved in the session for 'warden.user.user.key' to be the entire object rather than some string or integer.

![Screen Shot 2020-06-22 at 7 32 28 PM](https://user-images.githubusercontent.com/10776105/8528340

[2020-06-22 16:27] mcelicalderon commented on #112
It's a long shot, but could you please try enabling eager_load? I'm thinking it might be related to the devise mapping being added when the request is made, instead of it loading when the routes are loaded and no user has been identified.

[2020-06-22 16:47] grdmnt commented on #112
Tried setting `eager.load = true`, and it still sets the warden user key into the activerecord object.

[2020-06-22 16:58] mcelicalderon commented on #112
OK thanks. I'll look into this ASAP. A fix for now might be keeping the mount method on the routes and skip all operations with `only: []`

[2020-06-22 17:05] grdmnt commented on #112
For now, I actually just changed to activerecord_storage instead of cookie_store to handle that bigger payload 😂 Now that you mentioned it, I think your workaround is a lot better 😂 Thanks man!

[2020-06-22 23:21] #102 closed

[2020-06-23 02:12] #112 closed

[2020-06-23 13:36] mcelicalderon commented on #102
So #111 fixed this by providing a new mechanism to reconfirm emails (using a new model method). This idea comes from something that already exists on devise, a method called `update_with_password` which will check for the presence and validity of current password before allowing a password update. So what I think is missing is a third update method that combines both password and email confirmatio

[2020-06-29 00:09] ThiagoCasao opened #115 "How to call userLogout?"
### Question

Hi folks.

Mutation userLogout seems to doesn't have arguments. How I call this from cURL, for example?

I have tried first
`
curl http://localhost:3001/graphql -H 'Content-Type: application/json' -H 'accept: application/json' -H 'access-token: Lu80OieoLgdWY7RjaW0Oxg' -H 'client: GjCBl8F5QA2e8phBWS4v1Q' -H 'uid: user@gmail.com' -d '{"query": "mutation { userLogout(input: {variables:

[2020-06-29 00:24] ThiagoCasao commented on #115
Nevermind...

I tried this
`curl http://localhost:3001/graphql -H 'Content-Type: application/json' -H 'access-token: qSX10SIOKDu0zE-jxIyyRw' -H 'client: --8WE1brT5s6aS8Bw8xclw' -H 'uid: user@gmail.com' -d '{ "query": "mutation { userLogout { authenticatable { email } } }" }'`

And worked!

I forgot to pass header **'Content-Type: application/json'**

Thank you.

[2020-06-29 00:24] #115 closed

[2020-06-29 20:31] ThiagoCasao opened #116 "How to get user data on login?"
### Question

I need to get user info when the user log in, but I dont want to call GraphQL server again.
So, I see on [https://github.com/graphql-devise/graphql_devise/blob/master/spec/requests/mutations/login_spec.rb#L20](url) that the userLogin mutation can return user info, but when I try:
`curl http://localhost:3001/graphql -H 'Content-Type: application/json' -d '{ "query": "mutation { userLo

[2020-06-29 20:45] mcelicalderon commented on #116
Hey @ThiagoCasao ! So, by default most mutations have another field called `authenticatable` and this includes the login mutation, so you could do
[code]
Of course you need to take into account the fact that the gem will try to use in this case a type you should define `Types::UserType` in your project. If this type is not defined by you, the gem will use a generic type `AuthenticatableType` which

[2020-06-29 20:54] ThiagoCasao commented on #116
Oh man, works like a charm!

Thank you @mcelicalderon !

[2020-06-29 20:54] #116 closed

[2020-07-05 23:06] lassiter commented on #28
@00dav00 I tried your example with the dummy app but it errored out ` undefined method 'resource_class' for nil:NilClass `

[code]

This is my code, I planned on adding to it to create a profile.

[2020-07-06 02:21] mcelicalderon commented on #28
Hey @lassiter! So, not sure what the profile field is, but you should definitively include another key in the hash returned by the resolver method. This issue is related to adding more values to the user model when using the sign up mutation, so not sure if you are trying to do this. If that's the case, just like in [here](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/app

[2020-07-06 15:15] mcelicalderon commented on #28
Closing this one as the more we work en the gem, the less I think we will end up implementing this as the cleaner alternative is to have your own mutation inherit from the one on the gem with the additional arguments.

[2020-07-06 15:15] #28 closed

[2020-07-08 14:35] #104 closed

[2020-07-08 18:52] single-stop-rj opened #117 "How would I go about sending my own custom email ?"
I'm looking for a way to pull the reset password token into my own trigger. Im having a hard time being able to use find_resource in an Active Record Model.

something like this.

[code]

[2020-07-08 22:28] mcelicalderon commented on #117
Hey @single-stop-rj! Please provide more context as I don't understand if this is a problem with the gem or just a question. Remember that in you context you should have access to `context[:controller]` where you can get information like `auth_schema_url` instead of having it as fixed value somewhere else. Find resource should be available in any mutation or resolver that inherits from or resolver

[2020-07-13 15:26] mcelicalderon commented on #117
Closing this one it would seem it is not a problem with the gem.

[2020-07-13 15:26] #117 closed

[2020-07-13 15:51] dwthien opened #118 "How to authenticate for sending multiple values to the graphql_context and mounting operations Into DummySchema"
I have 2 models (Admin and Customer) inheritance from User Model
   - Mounting operations Into DummySchema
   - Sending multiple values to the graphql_context and it worked for 2 models

How to authenticate field base on User Type? (Customer or Admin)

[2020-07-13 20:20] single-stop-rj commented on #117
I guess this is the disconnect. I need a way to be able to generate the URL from outside of a controller. Like in the User model itself.

I'm trying to customize the Devise Emails, and be able to pass in the params properly, all while being able to have custom Email templates.

I know that the URLs are open in the context hash, its passing them, or accessing them in AR Models or ActiveJob that I h

[2020-07-14 14:06] 00dav00 commented on #118
Hey @dwthien, I think what you are looking for is the `authenticable_type`.
When using a dedicated schema for gqld operation it can be done like [this](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/config/routes.rb#L15).

When using your own schema the [resources loaders in the plugin](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/app/graphql/dum

[2020-07-14 14:45] dwthien commented on #118
Hi @00dav00 ,
I mean I have 2 resources, how to distinguish authenticate by Admin or Customer?
Example, I have some query:
field :admin_fetch, authenticate: true, authenticable_type: Admin
field :customer_fetch, authenticate: true, authenticable_type: Customer

Thank you for replying.

![image](https://user-images.githubusercontent.com/25741737/87439571-24adad80-c61b-11ea-9277-a77f2234979f.png)

[2020-07-14 15:12] 00dav00 commented on #118
I don't think I'm understanding the question. `authenticable_type` is set by resource so you can have:

[code]

or if you are using a dedicated schema:
[code]

Does this answer your question?
Could you post the query you are trying to perform and what are the results you expect?

[2020-07-14 15:37] dwthien commented on #118
Hi
Sorry about my question, example: I have 2 resources (Admin and Customer) and query:
- field :admin_fetch, authenticate: true

Expect result: Only Admin account can authenticate this field.
Error: Customer still can authenticate this field.

![image](https://user-images.githubusercontent.com/25741737/87445629-79085b80-c622-11ea-9beb-8f52cb23eb60.png)
![image](https://user-images.githubuserconte

[2020-07-14 15:50] mcelicalderon commented on #118
Hey @dwthien! I see what you are saying. First of all, there is no need for you to call the `SchemaPlugin` twice, you can just pass 2 `GraphqlDevise::ResourceLoader` in the `resource_loaders` array.

And no, the gem currently doesn't support what you are trying to do (authenticate only one type of resource per field). We are thinking that might not be too difficult to support so we might actually

[2020-07-14 16:19] dwthien commented on #118
Hi @mcelicalderon ,
Thank you for support from you, this is second, :))))
Seem to authenticate did not take care of the words after it, because both case below still worked.

![image](https://user-images.githubusercontent.com/25741737/87449639-a1df1f80-c627-11ea-8961-e3b847c255e6.png)
![image](https://user-images.githubusercontent.com/25741737/87449756-c9ce8300-c627-11ea-9e52-7df07cd547f6.png)

I

[2020-07-14 16:24] mcelicalderon commented on #118
Oh yes, the examples I shared should not work yet. I'm just saying we might implement it in a next version ;)

[2020-07-14 16:27] dwthien commented on #118
Haha, No Problem
Also thank you for suggesting the graphql-guard gem, It worked well.

[2020-07-15 00:50] 00dav00 commented on #110
@grdmnt Just updated the readme to include this info:
https://github.com/graphql-devise/graphql_devise#authenticate-before-reaching-your-gql-schema

Closing this one for now.

[2020-07-15 00:50] #110 closed

[2020-07-27 17:20] single-stop-rj opened #120 "change_headers_on_each_request question"
### Question
[code]

I see in the docs that we can change the token upon each request. Any idea of how to handle this in the client?

[2020-07-27 19:56] mcelicalderon commented on #120
That's completely up to you on the client side. Devise token auth has this on their README about client libraries that integrate with the gem

* Seamless integration with:
  * [ng-token-auth](https://github.com/lynndylanhurley/ng-token-auth) for [AngularJS](https://github.com/angular/angular.js)
  * [Angular-Token](https://github.com/neroniaky/angular-token) for [Angular](https://github.com/angula

[2020-07-29 14:26] dwthien opened #121 "How to get credentials from Mutations signUp."
Hi,
I have a question,
after SignUp, the database created new tokens, can Mutations signUp get credentials?
so we can save credentials and skip login action after Customer SignUp.

![image](https://user-images.githubusercontent.com/25741737/88812282-be5f8800-d1e1-11ea-8473-68b827e199fc.png)
![image](https://user-images.githubusercontent.com/25741737/88812787-53fb1780-d1e2-11ea-8c16-9f4e374c04ea.pn

[2020-07-29 14:52] mcelicalderon commented on #121
Hey @dwthien! That's a god question. So right now, if you haven't enabled the confirmable module (no confirmation email is sent with a link in order to activate the newly created account), the signUp mutation will actually return credentials in the headers. Now, we can definitively include a new field in the mutation `credentials` as in the login mutation so it's easier to extract those on the cli

[2020-07-29 14:57] mcelicalderon commented on #120
Closing this one as the client implementation is not in the scope of this gem. If you are using Apollo as your client @single-stop-rj , I would suggest looking into the different link implementations they provide. You can probably implement logic there in each response that will take care of storing the new headers in each response you receive. Take a look at this page https://www.apollographql.co

[2020-07-29 14:57] #120 closed

[2020-07-29 15:11] dwthien commented on #121
Hi @mcelicalderon
you are right, I haven't enabled the confirmable module, so the credentials responded into headers, I missed this one, sorry.
But better if we can definitively field if we did not enable the confirmable module as you said.

Thank you for replying and support from you :)))

[2020-07-29 15:13] mcelicalderon commented on #121
No problem! We'll add the field ASAP as it's definitively easier to handle, at least in Apollo.

[2020-07-30 02:22] #121 closed

[2020-08-07 08:13] wahab-trimulabs opened #123 "How call signup mutation in other mutations?"
### Question

I want to create multiple users without calling the direct signup I need a wrapper mutation that inside call the signup or create users and it should be authenticable. how can I achieve this could anyone help me out?

[2020-08-07 12:00] wahab-trimulabs opened #124 "Can i create user without using signup mutation?"
### Question

I want to create an additional mutation that works like signup to add a new user but it should be authenticable like my requirement is a user A can add multiple other users but user A should be logged in how I can achieve this?

### Current solution I am trying but worked
- I create a mutation inherited from the signup and add as additional mutation "AddNewUser"
- In this, I can call

[2020-08-07 12:34] wahab-trimulabs commented on #124
i done that

[2020-08-07 12:34] #124 closed

[2020-08-07 12:34] #123 closed

[2020-08-24 16:09] namolnad opened #129 "Error on rails s: uninitialized constant DeviseTokenAuth::Concerns::TokensSerialization (NameError)"
### Describe the bug
Getting uninitialized constant error upon starting up rails server
```/Users/danloman/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/devise_token_auth-1.1.4/app/models/devise_token_auth/concerns/active_record_support.rb:7:in `block in <module:ActiveRecordSupport>': uninitialized constant DeviseTokenAuth::Concerns::TokensSerialization (NameError)```

### Environment
[Gemfile](h

[2020-08-24 16:58] 00dav00 commented on #129
Hi @namolnad , I've seen this error when the [installation steps](https://github.com/graphql-devise/graphql_devise#installation) are not successfuly completed. Did you get any errors while executing the generator?

[2020-08-24 17:24] namolnad commented on #129
Thanks for the fast response @00dav00. I did get some errors. A couple of conflicts (which didn't look to be a big deal and was able to keep the original files) and this error which I wasn't able to figure out: `File unchanged! The supplied flag value not found!  app/graphql/my_schema.rb`

[2020-08-24 17:28] namolnad commented on #129
Not sure if this is a problem, but looks as though the devise_token_auth generator that is run under the hood was passed the wrong arguments. I'm mounting into my schema vs using another route.

I ran: `rails g graphql_devise:install --mount MySchema`
And I just saw this as one of the commands that was run: `rails  generate devise_token_auth:install User graphql_auth`

[2020-08-24 17:32] mcelicalderon commented on #129
Also try stopping Spring for the unitialized constant error. As for the generator, is you GQL schema in the app called `MySchema`? As in `MySchema < GraphQL::Schema`? Because the generator expects you to already have a GQL schema in your app

[2020-08-24 17:39] namolnad commented on #129
I was just using `MySchema` as a placeholder for this issue. I do have the appropriately named schema in my app and this was properly inserted into that schema file:
[code]

Unfortunately stopping spring doesn't seem to have helped with the constant error

[2020-08-24 17:57] mcelicalderon commented on #129
Ok, just make sure you use the right values for the generator as getting this message (`File unchanged! The supplied flag value not found! app/graphql/my_schema.rb`) seems to be because you used MySchema as the schema name. Anyway, make sure both initializer files were generated, one for devise.rb and one for devise_token_auth.rb.

Also, as you are using bootsnap, this might help after `bundle ins

[2020-08-24 21:09] 00dav00 commented on #129
@namolnad Could you post the backtrace you get when executing the generator please? I think the clue to solve this issue lies there.

[2020-08-24 22:17] namolnad commented on #129
Sure thing, here's the command i've been running and the output:
[code]

[2020-08-25 01:23] 00dav00 commented on #129
As you can see the generator is expecting the file `app/graphql/citizenwe_backend_schema.rb` to exist and contain the schema. Did you check if your project meets this requeriment @namolnad ?

[2020-08-25 01:35] namolnad commented on #129
@00dav00, it does:
[code]

[2020-08-25 04:09] mcelicalderon commented on #129
Hey @namolnad, I can confirm I got the same error message on the generator about the file not found and I will look into that. But that doesn't stop the generator to complete installation. Anyway, looks like an autoload problem with Rails, and in a weird place as it happens inside DTA's gem code. You shouldn't have a problem if both initializers are generated properly.

Could you please provide a

[2020-08-27 02:49] namolnad commented on #129
Thanks, will try to create a repo where this can be replicated at some point soon. Needing to keep moving forward on some other things, so may be slightly delayed. I did figure out that the app does boot in a production environment, but not in development/test. Seems closely related to this issue: https://github.com/lynndylanhurley/devise_token_auth/issues/1312

[2020-08-27 03:07] mcelicalderon commented on #129
Yes, there might be an issue with DTA. And it makes sense, if you need to, probably enabling eager load in development and test environments could fix the problem until we figure this out.

[2020-08-30 15:12] nenjamin2405 opened #131 "undefined method `resource_class' for nil:NilClass while trying to run mutations on /graphiql"
### Describe the bug

Hi guys, thanks for this great gem which supports using devise token auth in graphql ruby and I'm very excited to use it. As described above, I met that error (image attached below) while trying to run mutations generated by graphql_devise gem (useSignUp, userLogin, ...).

![image](https://user-images.githubusercontent.com/16648769/91662529-4bfa0480-eb0d-11ea-8710-19490d8e529

[2020-08-30 15:20] mcelicalderon commented on #131
Hey @nenjamin2405! Looks like you are missing the right context on your controller. Please take a looks at [this configuration step](https://github.com/graphql-devise/graphql_devise#authenticate-in-your-gql-schema). I hope that does it.

[2020-08-30 16:24] nenjamin2405 commented on #131
Hi @mcelicalderon, thanks a lot for your super fast response and clarification, it works now!!!

[2020-08-30 16:24] #131 closed

[2020-09-09 16:02] rcaf-anthony opened #132 "Replacing Devise Gem with GraphQLDevise"
### Question

First, I'm new to Ruby on Rails, coming from a .Net background, so please excuse the total newbie question.

I have an application that currently uses the Devise Gem, and has a GraphQL endpoint.  How can I replace the current Devise Gem with GraphQLDevise, so that the endpoint is secured as well?

I tried following the instructions in the README.md
1. I've added this Gem to the Gemfi

[2020-09-09 16:16] 00dav00 commented on #132
Hi @rcaf-anthony , I would suggest you checking the [dummy rails project](https://github.com/graphql-devise/graphql_devise/tree/master/spec/dummy) used for the gem testing. In there you can find the basic structure to use the gem.

You can get the most the gem if you are creating an API with graphql on top of it. If you are using a full stack rails project, meaning that you do render rails views,

[2020-09-09 16:29] rcaf-anthony commented on #132
Hi @00dav00,

The biggest problem is that the application is currently built and functioning with Rails/React/Devise/GraphQL where:
 - Rails :  controls the data,
 - GraphQL : handles queries and mutations to provide a single endpoint
 - Devise : handles all user functions (login, logout, confirmation, etc.), including UI
 - React : provides UI for everything except user functions

and I'm trying

[2020-09-09 16:57] 00dav00 commented on #132
I see @rcaf-anthony , now this looks like valid use case for the use gql-devise.
So what I think you should do is:

- Create the views that think your app for auth purposes in react
- Call the mutations/queries your app needs, here is a [list of the operations available](https://github.com/graphql-devise/graphql_devise#important-2) in the gem, checking the dummy project can help here too

What ope

[2020-09-09 17:00] rcaf-anthony commented on #132
Thanks for the advice, I'll keep working on the integration of this gem then.

[2020-09-09 17:14] #132 closed

[2020-09-10 00:22] rcaf-anthony commented on #132
Hey @00dav00 ,
Just FYI.
I tried like above, just putting `before_action :authenticate_user!` in the `graphql_controller.rb` and it works in our setup.
I can run queries and mutations from the React Frontend, and query from the graphiql UI but I can not get even the schema to show in the graphiql UI it just shows 'unsupported token < in JSON' or something like that in the response, and shows that

[2020-09-16 16:18] louim commented on #129
Hey! we encountered the same issue in our App, but luckily it was long after the initial setup, so that helped narrow the problem. I cannot offer a definitive solution, only some hints. In our case, it was caused by an initializer referencing an ActiveRecord Model (in fact it was not even referencing the model directly, only it's stringified name "myModel", but the code was of the related gem was

[2020-09-16 21:53] mcelicalderon commented on #129
Thanks! Not sure if this helps with @namolnad 's problem, but it makes sense that might have something to do with the Rails lifecycle, looking at initializers or config files is definitely a good place to start looking.

[2020-09-21 02:15] antarr commented on #131
@nenjamin2405 @mcelicalderon What is the actual solution. It's not clear to me. I'm having the same issue when trying to log in or signup. When I pry in `params[:operationName]` is nil

[2020-09-21 02:40] mcelicalderon commented on #131
Hey @antarr! If you are having exactly the same problem as @nenjamin2405 look at the link I posted. But it all came down to doing this

`result = DummySchema.execute(params[:query], context: graphql_context(:user))`

You need to send the right context to the execute method on the schema.

[2020-10-21 20:42] creed20 opened #133 "userCheckPasswordToken return Type"
### Question

Would it, or is it, possible to return the CredentialType for query userCheckPasswordToken? I realize the new token is in the header, but it would be advantageous for the new credential to be returned via graphQL and then utilized for the userUpdatePassword mutation.

Thank You!

[2020-10-21 20:47] mcelicalderon commented on #133
Hey @creed20 ! Unfortunately this is a tricky query and I don't think we could do that. This query in particular won't return a regular GQL response, but redirect to a success_url instead. So the response to this request is actually a redirect that will take you to the url you provided on the send reset password mutation and add the required credentials so you can then call the updatePassword muta

[2020-10-21 21:32] creed20 commented on #133
Hmm, I'm using React + Apollo for the frontend and Rails API on the backend, and maybe I'm misunderstanding the Redirect use, but I don't think it will work in this use case. I noticed in the below there is an alternate if the redirect_url is not provided.

https://github.com/graphql-devise/graphql_devise/blob/2df04b4078b79cf0b5fdf155beabc97fb68ff50c/lib/graphql_devise/resolvers/check_password_tok

[2020-10-22 02:51] mcelicalderon commented on #133
Right, I guess you could do that somehow, but not sure it makes sense as in theory you hit this query by clicking on an email link that points to the backend (why we need to redirect).

BUT, there is something DTA implemented not so long ago, another way to reset the password. What we could actually do is send the reset password email with a link the client app must provide and include the reset t

[2020-10-22 03:14] aarona commented on #133
I have to say that the way I would handle this (I haven't tried this yet but plan on it in the future) is put the reset token in the email and let the SPA do the graphql request instead of making the reset link have a URL encoded graphql request. I think its cleaner that way.

[2020-10-22 15:01] creed20 commented on #133
@mcelicalderon, I think that PR hit the nail on the head! With what you are describing, the updatePassword mutation would validate the token and then proceed or deny the password change without the use of headers?

@aarona, with what @mcelicalderon is describing it should work in your case as well.

[2020-10-22 15:05] mcelicalderon commented on #133
Correct @creed20, `updatePassword ` would allow to update the password without credentials if you pass the correct token. In DTA they handle both scenarios in a single endpoint, but I'm thinking we might split both reset password flows into different mutations so you can implement one of the two flows. As the one we are discussing seems cleaner, we might deprecate the current flow. What do you thi

[2020-10-23 00:46] aarona opened #134 "Integrating a JWT access/refresh token authentication strategy as a configurable option."
# What is the problem the enhancement will solve?
This would add a [standardized authentication strategy](https://auth0.com/learn/refresh-tokens/) - access and refresh tokens in JSON web token (JWT) format - into GraphQL Devise (GD) as an alternative to Devise Token Auth's (DTA) authentication strategy. Essentially, We would be integrating [Devise JWT Auth's (DJA)](https://github.com/aarona/devise

[2020-10-23 20:10] 00dav00 commented on #134
Hey @aarona this would represent a major change on how the gem is structured, to say yes or no we would have to check this with detail which will probably take sometime. So, if this is blocking you in any way, I would recommend going with the fork option.

That said, I would like to point out that if the purpose of this integration is to have a way to refresh JWT tokens, there is probably other po

[2020-10-23 20:11] 00dav00 commented on #133
I agree, I think it would be a very nice feature to have in a new mutation

[2020-10-23 22:08] aarona commented on #134
This isn't blocking right now because I'm using Devise Jwt Auth for what I need. I created DJA for the purpose of having JWT-based authentication with refresh tokens. It's working great and I'm using it for my clients right now. This is really just a low priority "just throwing this idea out there" kind of thing.

I'd like to go through GD's code and see what exactly would need to change if we wer

[2020-11-19 17:02] mcelicalderon commented on #129
Closing this one as no more information was provided and we were never able to reproduce. Please feel free to reopen if you have more information. Thanks!

[2020-11-19 17:02] #129 closed

[2020-12-04 15:33] galiminus opened #136 "Possible security issue with password reset and redirectUrl"
I just noticed this issue while implementing a password recovery form, it seems like a big issue for me but maybe I'm missing something that can prevent it from being exploited.

### Describe the bug

If an attacker execute the `userSendPasswordReset` with the following variables:

* email : email of the targeted user
* redirectUrl : URL of a website controlled by the attacker

It will send an ema

[2020-12-04 15:56] aarona commented on #136
Seeing how this gem sits on top of DTA, you can utilize the black list feature (or the white list which may be better) Read the documentation of Devise Token Auth.

[2020-12-04 15:59] mcelicalderon commented on #136
Hey @galiminus! Thank you for the report. I think you are right. Devise token auth does have an optional mechanism to whitelist redirect urls and we do use it in the sign up mutation as you can see [here](https://github.com/graphql-devise/graphql_devise/blob/d81bff179a820567e4a75ce67fa3c2b871d0543e/lib/graphql_devise/mutations/sign_up.rb#L25). But we are definitively not doing that on the reset pa

[2020-12-04 16:07] galiminus opened #137 "Requiring graphql-ruby to respond to GET requests can lead to security issue"
### Describe the bug

It seems that some queries in graphql_devise requires graphql-ruby to respond to GET requests:

[code]

As far as I can tell and after browsing through the doc, it seems that graphql-ruby was never intended to serve GET requests (at least I couldn't find anything about it in the doc). This can lead to some security issues since graphql-ruby will execute any mutations on GET,

[2020-12-04 16:08] galiminus commented on #136
Sure thing, thanks for your help!

[2020-12-04 18:29] mcelicalderon commented on #137
The Apollo link you shared is precisely why we enabled the GET method. From a quick search I can't find anywhere in the docs or specification something that states that mutations cannot be executed via GET request, [this](https://graphql.org/learn/serving-over-http/#http-methods-headers-and-body) would be a nice place to put it. Nothing on the graphql ruby gem. I understand what you are saying, wi

[2020-12-05 03:18] armstnp opened #138 "Testing Authenticated Elements"
### Question

I'm currently trying to set this up, but I'm having difficulty running any form of integration test on the schema itself.

I have a number of tests in a format similar to [that specified by the GraphQL-Ruby documentation](https://graphql-ruby.org/testing/integration_tests.html#testing-interface-level-behaviors), but with this gem in operation, all my tests now fail with the claim tha

[2020-12-05 21:02] armstnp commented on #138
Update: I took a break, came back with fresh eyes, and found a way to make it work. I'll try and extract the modifications that made it work, in case it's of use for either adding to the library, or as reference for other implementers. The controller-schema coupling is still somewhat concerning, but the interface is narrow enough to be simply stubbed.

[2020-12-05 21:58] mcelicalderon commented on #138
Hey @armstnp! Thanks for looking into this. Yes that coupling is something we should look into. That came as a result of a problem with autoload and how devise setups a model, that's why we delegate to the controller when the request is made, to make sure the schema and model configuration is ready. But we need to find a better way to fix this.

[2020-12-21 13:13] alexanderdavide commented on #138
@armstnp Currently implementing similar tests. I am authenticating in the GraphQL schema. Can you please explain how you did this?

[2020-12-21 20:41] mcelicalderon commented on #138
Hey @alexanderdavide! Until we improve the architecture of this part of the code I don't think there's a better way to test only the schema without stubbing some objects. Something like this should do given you are using the `User` model and RSpec, but you should be able to stub the same things given you are using a different test framework

[code]

I think this should be enough to test your own q

[2020-12-22 01:41] #136 closed

[2020-12-23 15:00] single-stop-rj commented on #136
We also hardcoded the redirect url in our back end to prevent the spoof

[2020-12-23 18:06] mcelicalderon commented on #137
Closing this one as no more information was provided on it, but feel free to reopen if any you find anything else on this subject.

[2020-12-23 18:06] #137 closed

[2020-12-23 18:07] #134 closed

[2020-12-25 11:43] alexanderdavide opened #141 "Error code is overwritten when having defined rescue_from(StandardError)"
### Describe the bug

The expected error code for unauthenticated requests `AUTHENTICATION_ERROR` seems to be overwritten when having defined `rescue_from(StandardError)`. However, without `rescue_from(StandardError)` the error code is `AUTHENTICATION_ERROR` as expected.

### Environment

[code]

### Steps to reproduce

1. Setup an authenticated endpoint with graphql_devise
2. define a rescue_from

[2020-12-25 17:32] mcelicalderon commented on #141
Hey @alexanderdavide! If I'm reading this correctly I think this is the expected behavior of the graphql gem. You are rescuing standard error at the schema level, so that will capture any execution error from the gem which is something you probably don't want as that's the mechanism the gem provides to return top graphql errors [like this](https://graphql-ruby.org/errors/execution_errors.html).

I

[2020-12-25 20:13] alexanderdavide commented on #141
@mcelicalderon Thank you! This helped indeed. I will look into field level errors.
Closing this issue.

[2020-12-25 20:13] #141 closed

[2020-12-25 20:41] mcelicalderon commented on #141
Glad it helped! And actually thought of another reason not to capture standard error there. That would prevent an error catching tool like airbrake to grab those. So, careful with that.

[2020-12-27 20:17] dmc2015 opened #142 "Cannot Signup User, 'userSignUp' is missing required arguments: email, password, passwordConfirmation""
### Question

I am trying to figure out what is wrong with this query.

I notice that I don't have the attributes it is looking for in my db schema, but I don't know why it is looking for these attributes to begin with if it comes with different attributes.

Example:
`encrypted_password` vs `password, passwordConfirmation`

Query:

[code]

UserType:
[code]

DB Schema:
[code]

Error:

[code]

I wan

[2020-12-27 20:46] mcelicalderon commented on #142
Hey @dmc2015! In this case you are sending the required arguments inside an `input` argument. I know that's the relay way, but this gem expects the arguments at the first level of the mutation as

[code]
Your dB looks fine, just use the migrations provided by the gem. Password confirmation is not persisted to the dB nor password, just encrypted password. Let me know if that works.

[2020-12-28 00:03] dmc2015 commented on #142
@mcelicalderon
Thanks for the quick follow up.

I updated based on your recommendation
Query:
[code]

Error:

[code]

[2020-12-28 04:42] mcelicalderon commented on #142
`UserSignUpPayload ` is the type created by the mutation, so you can't access the email field directly. Unless you configured the schema in a different way, the default is to have an `authenticatable` field on the payload type, so you can do
[code]
Take a look at some example queries for sign up [here](https://github.com/graphql-devise/graphql_devise/blob/master/spec/requests/mutations/sign_up_spe

[2020-12-29 09:31] lukefan opened #143 "When I use mongoid, turn devise_token_auth:install to devise_token_auth:install:mongoid"
### What is the problem the enhancement will solve?

When I use mongoid and run rails g graphql_devise:install, I got an error, Uninitialized ActiveRecord.

### Describe the solution you have in mind

I changed install_generator.rb, from generate 'devise_token_auth:install', "#{user_class} #{mount_path}" to generate 'devise_token_auth:install_mongoid', "#{user_class} #{mount_path}"

it worked.
Ple

[2020-12-29 15:06] 00dav00 commented on #143
Hey @lukefan , I see what you are saying!
If you are interested in creating a PR for this I would say a new boolean argument called `mongoid` that will determine which DTA generator is executed is the simplest way to go. Otherwise we can take a look as soon as we have some spare time.
Let me know if you want to discuss this further.

[2020-12-30 11:17] lukefan commented on #143
There is a simple way, make two install_generator, graphql_devise:install and graphql_devise:install_mongoid, just like devise_token_auth.

[2020-12-30 15:25] creed20 commented on #133
Hey @mcelicalderon ! Has there been any progress on the new mutation flows 😀?

[2020-12-30 18:20] mcelicalderon commented on #133
Hey @creed20! Sorry we haven't been able to work on this yet. We'll try to do it as soon as we get some time on our hands. Also, prs are welcome if that's something you'd be interested in.

[2020-12-31 02:46] dmc2015 commented on #142
Ok, Thanks for the help.

[2020-12-31 02:46] #142 closed

[2020-12-31 02:57] dmc2015 opened #144 "Potential Bug For MailHelper"
Hello

I am not sure if it is a bug or if I did something wrong.

I was getting this error:

[code]

I eventually was able to find where `confirmation_query` is located.

I resolved it by adding:

`include GraphqlDevise::MailerHelper`

to my Graphql Schema

I am wondering if this is the correct way to do this or if there is a better way. I don't see `MailerHelper` in the documentation so I figured

[2020-12-31 17:09] 00dav00 commented on #143
That solution is in fact the one we would prefer in the long term, that said it will imply some refactor to make sure code is reused in both generators instead of duplicating it.

[2020-12-31 18:04] 00dav00 commented on #144
Hi @dmc2015 , the mailer helper is loaded with the [gem routes](https://github.com/graphql-devise/graphql_devise/blob/master/config/routes.rb#L18).
Is this loaded with the configuration you are using?

Also (but probably no related), you are including DTA and gql-devise concerns in the user model, since they have similar methods this can cause you problems in the future.
[code]

[2021-01-02 00:39] dmc2015 commented on #144
It's not being loaded automatically for me based on what I have in my routes.

I have to have an include of it in my schema, having it in my routes works also.

If it isn't included I am getting:

[code]

Routes:

[code]

[2021-01-04 16:29] dmc2015 commented on #144
I'll try to re-create in a sample app

[2021-01-04 16:57] mcelicalderon commented on #144
That is perfect @dmc2015, thank you! I think it is weird that you have to include the helper in the routes,but we'll definitively get a better idea if you push a sample app we can look into. Try using the same versions of the gems as the ones you use where you see the error

[2021-01-13 01:51] keithmgould commented on #138
The above worked for me but I only found this after two hours of searching. (I should have looked here first perhaps). I think its fair to assume a lot of people want this information. It worked for me, and I hope it makes it into the documentation somewhere.

[2021-01-13 14:29] mcelicalderon commented on #138
Hey @keithmgould! You are absolutely right. We actually want to improve this part so we don't have to inject the controller into the context. I hope we can fix it soon.

[2021-01-15 13:05] keithmgould commented on #28
Might have missed it, but I spent a while looking for this in README before coming here. I think someone else mentioned also but might be nice to have this in readme. happy to make a PR to place in README if that helps.

[2021-01-15 13:42] keithmgould commented on #28
Actually noticing an issue with the above subclass solution.

I only use a single endpoint, so I have the mounting operations in my own schema. This works great.

However, if I try to do the above solution, the rest of my schema is not seen by graphiql.

So:

[code]

...causes all of my other schema to be ignored.

I really want to keep a single endpoint. Is it possible?

[2021-01-15 13:58] 00dav00 commented on #28
Hi @keithmgould, if you mount the operations using the routes, the gem expects the endpoint to be exclusively for auth. If want to use a single endpoint/schema you will have to use the schema plugin, have you checked this [section of the readme](https://github.com/graphql-devise/graphql_devise#mounting-operations-into-your-own-schema)?
Please take a look at the steps there as well as the example i

[2021-01-15 14:07] keithmgould commented on #28
Hi @00dav00, happy to open a different thread, though the issue is v similar: it is adding a new field to SignUp, though in my case I want a single endpoint. I have successfully followed instructions you linked to, have auth and my own schema in the same graph (yay!) however now that I want to add a new field to the sign-up mutation, I don't know what to do. The solution above does not work for re

[2021-01-15 14:14] 00dav00 commented on #28
Let's open a new issue @keithmgould. It would be helpful if you can post:
- The schema
- The inherited type
- The controller were the schema is added
- The error you are getting

And just to confirm, you need to remove the route if you want to have the auth operations in the same schema.

[2021-01-15 14:28] keithmgould opened #145 "Adding a field to SignUp when mounting auth in the main schema"
### Related

This issue is similar to [this issue](https://github.com/graphql-devise/graphql_devise/issues/28) however in the linked issue, a different route for auth was used to solve.

### Question

The question is: when using a *single* endpoint, where auth is merged into the main graph, how do we add another field to SignUp (lets call the new field `name`).

### Status

I currently have the ap

[2021-01-15 14:37] keithmgould commented on #145
Of course I figured it out right after posting the question.

[code]

Hope this helps someone!

[2021-01-15 14:37] #145 closed

[2021-01-15 14:41] 00dav00 commented on #145
It happens from time to time, thanks @keithmgould !

BTW, is there something in the readme that can make this config more obvious? We are happy to receive suggestions on that.

[2021-01-15 14:46] keithmgould commented on #145
As i re-read the README it feels like you made it pretty clear:

Possible though that since at least two people were a bit stuck on it (despite a clear readme) it might be worth adding a small section on this exact topic: "Adding fields to SignUp: Two ways" which could cover the way I did it, and also the extra route method. In a sense this part of the readme would be redundant, but might still he

[2021-01-19 15:57] #133 closed

[2021-01-19 16:18] mcelicalderon commented on #133
Hey @creed20 we just released `v0.14.0` which contains the new discussed flow. We'll add documentation for both reset password flows as soon as possible, but now what you need to know is there are 2 new mutations:
- `sendPasswordResetWithToken`: Takes email and redirectUrl. Sends an email with a reset link that simply uses that redirectUrl and adds a reset password token as query params. On you fr

[2021-01-21 17:43] creed20 commented on #133
@mcelicalderon , this worked great! Thank you for your time and effort creating this! 👏🎉👍

[2021-01-27 15:30] keithmgould opened #148 "Best way to require password when updating user model (ie user's email)"
Hi!

I'd like to ensure the user sends up a valid password when updating their email.  I've followed the [reconfirmation section](https://github.com/graphql-devise/graphql_devise#email-reconfirmation) of your README, but that suggests (requires?) that we use `user.update_with_email` (as seen in [dummy project mutation](https://github.com/graphql-devise/graphql_devise/blob/c4dcb17e98f8d84cc5ac002c6

[2021-01-27 23:13] mcelicalderon commented on #148
Hey @keithmgould! What you are doing is definitively the best way to do it for the current version of the gem. This is something I did think about when implementing the `update_with_email` method. So you are talking about a method that would do both things, right? Something like `update_with_email_and_password`. That's probably the way I'd go so the dev can choose from those 3 depending on what th

[2021-02-11 12:11] #138 closed

[2021-02-11 12:16] 00dav00 commented on #138
@armstnp With the changes on #149 change the gem:
- Will only try to set current resource for authenticated fields
- Won't try to set the `current_resource` using the auth token if it is already present, this allows setting it directly on scheam tests like in this [shared context](https://github.com/graphql-devise/graphql_devise/blob/master/spec/support/contexts/schema_test.rb)

[2021-02-16 16:44] wolak88 opened #151 "Devise helpers not available"
### Describe the bug

My controllers don't have access to devise helpers in new rails 6 application in API mode.

### Environment

[code]

Application controller:

[code]

SetCurrentRequestDetails:

[code]

I've tried to add
 `before_action :authenticate_user!`
but its also not available

### Steps to reproduce

1. Run any query/mutation

### Expected behavior

current_user should be nil or user f

[2021-02-16 18:01] mcelicalderon commented on #151
Hey @wolak88! I will look into this ASAP. In the mean time, could you please share you Graphql controller's code? I think the problem might be there. Also your application's controller would be useful if you didn't already share a full version of that one.
Another question, so you are going to be setting current_user before actually getting to the GQL schema. Are you using a separate route for the

[2021-02-16 18:55] wolak88 commented on #151
Yes, I've shared all of the contents of my `ApplicationController` as for gql controller it's also a generic one:
[code]

I'm using it as a plugin, here's my schema (also generic one):

[code]

Yes I need to set it before as I'm using `act_as_tenant` gem for row level multitenancy, My users can have multiple accounts depending on domain that the request is coming from so I need to set current tena

[2021-02-16 19:14] mcelicalderon commented on #151
Thank you for that. Ok, I think I know what's going on. When using the plugin, we defer setting the user to the GQL schema, precisely because when eager loading is disabled, plugin configuration will only run the first time a query is executed on the schema and Devise  needs this configuration in order to enable methods like `current_user` in the controller. This is something we are going to fix i

[2021-02-16 19:44] wolak88 commented on #151
Thanks for so quick response. Approach 1 and 2 are working, I don't how to load schema in initializer for 3rd one to work. I think the 3rd one seems the best as in the first one I would have to enable eager_load on the test environment as well and in the second one it's polluting production routes. Do you have any suggestions?

Also, I have one more question I have to monkey patch some of the muta

[2021-02-16 19:54] mcelicalderon commented on #151
For the third one you could probably just create an initializer like this:
[code]
About monkey patching, I always advise against that. Maybe overriding the default mutation is enough as it will allow you to override default behavior for the signUp mutation. Look at [this](https://github.com/graphql-devise/graphql_devise#available-mount-options), specifically the `operations` option.

[2021-02-17 19:44] wolak88 commented on #151
Thank you very much, I got it working with:
[code]

I had one more question that you've probably missed about introspection query, why it's unavailable?

[2021-02-23 09:14] wolak88 commented on #151
@mcelicalderon
Is it possible to make introspection query available when using `graphql_devise`?
In my previous projects I was using `disable_introspection_entry_points if Rails.env.something?` but now I'm not able to introspect at all;/

[2021-02-24 02:59] fkoyo opened #152 "how to confirm the email by original url"
i want to change the confirmation url from ```http://localhost:3000/graphql/?**```  because it happens route error /graphql.
so i change my  ```app/views/graphql_devise/mailer/confirmation_instructions.html.erb``  file  following:

```<p><%= link_to t('.confirm_account_link'), "#{message['schema_url']}?#{confirmation_query(resource_name: @resource.class.to_s, redirect_url: message['redirect-url'],

[2021-02-24 03:11] mcelicalderon commented on #152
Hey @fkoyo! Are you mounting the gem in your schema using the plugin? If so, for the confirmation link to work, you need to enable both post and get methods on your /graphql endpoint. Let me know if it was related to that or please provide more details on how your gem is configured.

[2021-02-24 03:17] mcelicalderon commented on #151
Hey @wolak88! Yes, this gem doesn't mess with the introspection query. How are you seeing this error? Are you getting an authentication error when using the instrospection query? If because of your multitenant gem you authenticate the user before actually getting to the GQL schema, the request is going to fail before actually trying to execute the introspection query unless you send authentication

[2021-02-24 03:27] fkoyo commented on #152
@mcelicalderon
thanks for so quick response!!

I install the gem into my schema, so I set configration to the my_cheema.rb

[code]

and i did not set any configuration to route and  controller.

[code]

so please  tell me set confirmation email graphql end point please
now I can Use userSignUp mutation and receive  confirmation email like this

![image](https://user-images.githubusercontent.com/18

[2021-02-24 03:34] mcelicalderon commented on #152
Right, I think the only thing missing is enabling a get method on your routes file, like this

[code]
That's the only way for an email link to hit your API. This will change in the next version as we will remove this mechanism and do something similar to the second reset password flow which adds a link to the fronted in the email and then it will the the frontend's responsibility to make another r

[2021-02-24 03:47] fkoyo commented on #152
@mcelicalderon
thanks! oh! after  adding the ``get``,  user.confirmed_at is Time.zone.now!! thanks!

Excuse me i have another question.
why does the following means confirmation email action?
[code]

thanks!

```graphql_devise```  is amazing gem. Very helpful

[2021-02-24 03:52] fkoyo commented on #152
And excuse

I set
```config.default_confirm_success_url = 'http://localhost:3000/graphiql``` in devise_token_auth.rb file

but

when I execute SingUp mutation like the following:
[code]

[2021-02-25 04:51] fkoyo opened #153 "I can't user current_resource"
when I tried to user context[:current_resource], I can't use  ```context[:current_resource]```
why?

thanks

### configration

install into my schema

[code]

route.rb:
[code]
graqhql_controller.rb:
[code]

user_update_input.rb
[code]

update_user.rb
[code]

iI execute the following mutation in graphiql
[code]

[2021-02-25 11:04] wolak88 commented on #151
@mcelicalderon Ok, I've found the problem, by default all root fields have authenticatication enabled (`authenticate_default` on mounting the plugin) it also includes schema field! After changing it to false my introspection query started to work. Thanks for pointing me in the right direction.

I'm just a bit worried about the consequences of that change: should any graphql-devise fields have auth

[2021-02-25 13:08] 00dav00 commented on #153
Hi @fkoyo , I think you are missing the concern that set the user, did you use the generator to install the schema?
Please check this part of [the readme](https://github.com/graphql-devise/graphql_devise#authenticating-controller-actions) for reference

[2021-02-25 13:11] 00dav00 commented on #145
Hi @keithmgould , just saw this. I'm not completely sure about where that change should go, would you be interested in creating a PR for this change?

[2021-02-25 13:49] fkoyo commented on #153
@00dav00
thanks!! I install the gem using ```$ bundle exec rails g graphql_devise:install User``` command,
but I added ```authenticate_default: false```  to  my_schema.rb like the following:

[code]

I deleted it.

so, another error occur like the image]
[code]
![スクリーンショット 2021-02-25 22 45 53](https://user-images.githubusercontent.com/18605223/109162408-8510ea00-77bb-11eb-9202-3edfdcda8a35.png)

I

[2021-02-25 14:17] 00dav00 commented on #153
@fkoyo that is a problem we just noticed, if you want the introspection query to work with the schema plugin you will need to set the `authenticate_default: false` option in you schema or make sure the auth token is set in the browser/client you are using.

About the `current_user` were you able to check the documentation about the `SetUserByToken` concern? Is `current_user` available now?
Also, c

[2021-02-25 15:11] fkoyo commented on #153
@00dav00
thanks!!

I understand!

I post my graphql_controller.rb
[code]

and  i want to try update_user so I create ```update_user_input.rb``` and  ```update_user.rb``` file.

[code]

[code]

so, in pry
- current_user = nil
- context[:current_user] = nil
- context[:current_resource] = nil

in addition
route.rb

[code]

[2021-02-25 15:33] mcelicalderon commented on #151
You are right about that. Currently there's no way to disable authentication on the schema field, but we should definitively enable a way to do that. This issue already covers too much, could you please open another one about this as a feature request? I'm closing this one as all other concerns have been resolved and will be considered for the next version. Thanks!

[2021-02-25 15:33] #151 closed

[2021-02-25 15:36] mcelicalderon commented on #152
No, `default_confirm_success_url` is not related to the missing method. #144 describes something similar, I'll look into that. Could you please share your Gemfile.lock file to try to replicate? Or if you could create a small sample application where you can replicate this that'd be amazing. Thanks!

[2021-02-25 16:08] 00dav00 commented on #153
@fkoyo since the schema is set not to consider fields `not authenticated`  by default, you will need to set your field as authenticated with adding it to the schema

[code]

Not authenticated fields are considered public, hence no current_user is set.
Could you try this please?

[2021-02-25 22:50] fkoyo commented on #153
@00dav00
thanks!!

I added ```authenticate: true```  into mutation_type.rb like the following:
[code]

but, error that ```updateUser field requires authentication``` occur

I think ```authenticate: false```  is right.
I tried but, nothing changed.

```undefined method `update!' for nil:NilClass" ```

oh,,,,

[2021-02-25 23:09] fkoyo commented on #153
I added ```, authenticate: true``` like the following:
[code]
```updateUser field requires authentication```

so, I have already log in. I tried login one more.

![Snip20210226_12](https://user-images.githubusercontent.com/18605223/109231221-7f41f580-7809-11eb-8826-bff28068b5e9.png)

but ```updateUser field requires authentication``` .
what do I  have to  do after login?

please..

thanks!

[2021-02-25 23:10] fkoyo commented on #153
@00dav00
I added ```, authenticate: true``` like the following:
[code]
```updateUser field requires authentication```

so, I have already log in. I tried login one more.

![Snip20210226_12](https://user-images.githubusercontent.com/18605223/109231221-7f41f580-7809-11eb-8826-bff28068b5e9.png)

but ```updateUser field requires authentication``` .
what do I  have to  do after login?

please..

thanks

[2021-02-25 23:50] fkoyo commented on #153
I got it!
I register headers  accestoken ui client and I try it I can update_user!

thanks a lot!!

[2021-02-26 15:21] 00dav00 commented on #153
Awesome! glad to read this @fkoyo. I'm closing this issue since we have a another where we keep track of the problem with the introspection query.

[2021-02-26 15:21] #153 closed

[2021-03-01 04:22] fkoyo commented on #152
@mcelicalderon
thanks your help!

I post GemFile.lock file the following:
thanks a lot!

[code]

[2021-03-01 04:42] fkoyo opened #155 "I can't over write userSignUp mutation because of resource_class error for user invitation"
I tried to create the user invitation function.
User can type some emails in form, like mark.david@sample.co.jp, yuka.calon@sample.co.jp, for example.
They can send the invitation email to the email.

so I create invite_user.rb   and user GraphqlDevise::Mutations::SignUp for making user and sending email to new user.

but I can't use ```resource = build_resource(attrs.merge(provider: provider))```

[2021-03-01 06:01] fkoyo opened #156 "can we user devise_invitable?"
can we user [devise_invitable](https://github.com/scambra/devise_invitable)？

[2021-03-02 14:58] mcelicalderon commented on #155
Closing this one in favor of #156

[2021-03-02 14:58] #155 closed

[2021-03-02 15:04] mcelicalderon commented on #156
Hey @fkoyo. Yes you can, but this gem doesn't add invitable behavior to your models. So, you can add the invitable gem and use some of it's methods to implement your own invitation flow. I would advise you read through devise_invitable's docs and really understand how it works. I have done it before and your mutation could contain something like this:

[code]
Or don't `skip_invitation` and calling

[2021-03-02 16:06] keithmgould commented on #145
Hey @00dav00 will do. Will try and get to it this weekend.

[2021-03-02 16:07] 00dav00 commented on #145
Thanks @keithmgould !!

[2021-03-03 13:59] fkoyo commented on #156
@mcelicalderon
so thanks!! I got it!

excuse me! one More question.

I want to accept the invitation by clicking the link in the email sent by devise_invitable.

but the following error occurred when I invite another user by exceute the following mutation
```undefined method `accept_invitation_url' for #<ActionView::Base:0x000000000135d8>"```

[code]

do I have to set  API endpoint  ``` accept_inv

[2021-03-03 16:53] fkoyo opened #157 "How can we user sign_up or login and so on without authenticate,"
I want to user mutation before authenticating for example sign_up, login,  confirm_account, and so on.
what do I have to do?

I post my setting following:

graphql/my_schema.rb
[code]

mutation_type.rb
[code]

[2021-03-03 17:19] fkoyo commented on #157
I get it. If we add the following my_schema.
in  ```/graphiql``` URL, the docks present the no schema, but this is the right way to define pre login action.

[code]

![image](https://user-images.githubusercontent.com/18605223/109845075-18e92700-7c90-11eb-9b06-b3a538e721a3.png)

[2021-03-08 15:02] mcelicalderon commented on #151
The latest release of the gem fixes this. Still not documented on the Readme file, but you can now pass an argument to the plugin's initializer (last one) which will allow public introspection if set to `true`. Defaults to `!Rails.env.production?`

[2021-03-10 16:36] wolak88 commented on #144
I'm encountering the same error, adding MailerHelper to routes works for me as well though

[2021-03-13 04:05] #157 closed

[2021-03-13 04:05] #156 closed

[2021-03-13 04:06] #152 closed

[2021-03-15 17:22] mcelicalderon commented on #157
@fkoyo not sure if you saw this, but #154 allows unauthenticated introspection queries. By default, introspection is public in all envs but production by default (`!Rails.env.production`). We still need to document this, but let me know if that makes sense or if something is unclear. The PR simply adds a `public_introspection` param to the plugin initializer where you can specify this. This is ava

[2021-03-18 20:02] guillaume-gomez commented on #145
many thanks @keithmgould . Your example should be in readme :100:

[2021-03-19 19:17] epadillac commented on #42
Thanks @davidrunger, this saved my life

[2021-03-22 13:32] keithmgould opened #162 "How should a user delete their own account?"
I am building an authed mutation to allow a user to delete their account. This involves deleting the current_resource (user).

Once I do this, the devise token auth runs into trouble in the callback:

`devise_token_auth-1.1.5/app/controllers/devise_token_auth/concerns/set_user_by_token.rb:97:in update_auth_header`

with: `Couldn't find User with 'id'=1`

Wondering what graphql_devise would like me

[2021-03-22 17:23] 00dav00 commented on #162
Hi @keithmgould, have you consider executing the deletion async?
In that way you can :
- Mark the user as not able to log in anymore
- Enqueue a job to delete it
- Logout the user from FE
- Delete async in a separate task

Do you have a stack trace of this problem? Would like to understand a bit more on what is happening here.

[2021-03-22 18:21] keithmgould commented on #162
Hi hi,

Async is a good idea, though in a sense that introduces a race condition: if the worker (somehow) works fast enough we could still get the user not found error. I'm super open to it, but would (if possible) handle this situation sync and see what it takes.

The stack trace (which shows the double render error, but thats not the core issue- the core issue is that devise token auth tries to

[2021-03-22 19:41] mcelicalderon commented on #162
Hey @keithmgould! Are you refreshing tokens in every request?

[2021-03-22 19:51] keithmgould commented on #162
Hey @mcelicalderon I don't think so? But not sure. I'm new to both graphql-devise and devise_auth_token, and I don't think I explicitly set that up. I sort of just followed main instructions for graphql-devise and it worked (which is cool, but leaves me a bit uneducated)

[2021-03-22 19:52] mcelicalderon commented on #162
Mmm yes you are. And I think I found the problem https://github.com/lynndylanhurley/devise_token_auth/blob/0c369d6338a362c1e888378b46e8251d8e5de947/docs/usage/controller_methods.md#methods
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/3926414/112049543-c62bbe00-8b1d-11eb-8570-00c47b1fb41f.png">
From DTA docs, looks like this is a special scenario they do handle. From

[2021-03-22 19:55] mcelicalderon commented on #162
ok, so you might have run our generator on a version where we didn't default to not refreshing tokens in each request. Take a look at [this](https://github.com/graphql-devise/graphql_devise#devise-token-auth-initializer). Setting `change_headers_on_each_request` to false on `devise_token_auth.rb` initializer will fix this, but be aware that it will change the behavior for a token to be valid for u

[2021-03-22 20:02] keithmgould commented on #162
Already had that set to false, so I don't believe thats the issue:

![image](https://user-images.githubusercontent.com/40254/112051032-d47ed780-8b27-11eb-9437-15ffb14c0961.png)

And from Gemfile.lock in case it helps:

![image](https://user-images.githubusercontent.com/40254/112051110-eceef200-8b27-11eb-9555-5bc7977e0d32.png)

I'll try setting @used_auth_by_token to false and see.

Thank you for h

[2021-03-22 20:08] mcelicalderon commented on #162
Actually, I missread DTA's code 😆 it's the opposite, so setting that variable won't help. But actually found a good fix, you need to do what we already do in the logout mutation in your delete account mutation. Call this method as we do [here](https://github.com/graphql-devise/graphql_devise/blob/b9ab09e8bc2dd0b1a3e359c0c1f409764f16f248/lib/graphql_devise/mutations/logout.rb#L11). That will preven

[2021-03-22 20:10] keithmgould commented on #162
Hey @mcelicalderon I tried that before opening ticket (mentioned above) and it did not help. But I'll double check it was the same error (and not a method not found error etc...)

[2021-03-22 20:18] mcelicalderon commented on #162
Not sure how you are getting passed [this line](https://github.com/lynndylanhurley/devise_token_auth/blob/v1.1.5/app/controllers/devise_token_auth/concerns/set_user_by_token.rb#L89) after calling that method. I see in your backtrace something about a double render. You need to make sure this method is called before mutation execution ends and control returns to the rails controller.

[2021-03-22 20:22] keithmgould commented on #162
Just stepped through it. Getting past that line because the instance variable `@resource` exists and is present, but is stale. See me recreate raise in debuguger:

[code]

[2021-03-22 20:26] mcelicalderon commented on #162
That's precisely what `remove_resource` does 😄

[here](https://github.com/graphql-devise/graphql_devise/blob/b9ab09e8bc2dd0b1a3e359c0c1f409764f16f248/lib/graphql_devise/concerns/controller_methods.rb#L24)

[2021-03-22 20:26] keithmgould commented on #162
🙃 losing mind.

[2021-03-22 20:31] mcelicalderon commented on #162
I'll take a closer look later, but all that looks alright. Maybe something weird going on in the controller? Something setting the resource again? Check you before and after actions

[2021-03-22 20:43] keithmgould commented on #162
So this solved:

[code]

I'm guessing that `remove_resource` somehow did not reach? when I ran debugger inside of mutation, and tried

[code]

it failed because the `controller` namespace is of course not available directly from the mutation, we need context.

I think as final thoughts, it would be neat if this were handled by the graphql_devise gem in some way?

Most of all though thank you guys

[2021-03-23 00:06] mcelicalderon commented on #162
That is really weird, but I'm glad you figured it out. Are you adding this concern to your controller?
[code]
if you are still using this one
[code]
that might be the problem as they are no longer interchangeable. Let me know if that's the case, because otherwise I can't understand how
[code]
works and calling the method that does exactly the same thing doesn't 🤔

[2021-03-23 13:14] keithmgould commented on #162
Yes using the new one:

[code]

[2021-03-23 16:05] mcelicalderon commented on #162
Very weird. Not many options left. I can only think of
1. Overwriting `remove_resource` in your base mutation?
2. Does your base mutation inherit from ours or you are including the `ControllerMethods` concern?

[2021-03-23 16:27] mcelicalderon commented on #162
So that's it, our base mutation [includes a concern](https://github.com/graphql-devise/graphql_devise/blob/b9ab09e8bc2dd0b1a3e359c0c1f409764f16f248/lib/graphql_devise/mutations/base.rb#L8) where the `remove_resource` method is defined. You will need to include this in your delete user mutation for it to be available. Now I wonder why you are not getting an undefined method error when calling it.

[2021-03-23 17:47] keithmgould commented on #162
I'm now using your mutation as parent, and the `remove_resource` works just fine.

The answer to the mystery about `remove_resource` not raising a method not found error is that I catch all errors in my main schema as a precaution:

[code]

I'm not sure if this is an anti-pattern, but did not want to ever send down 500s to client. I've now added the log lines shown above to help with debugging.

[2021-03-23 17:54] mcelicalderon commented on #162
I've seen that before, so I think it's fine as long as you capture those errors with a tool like [errbit](https://github.com/errbit/errbit) or you are always looking at the logs for errors. One thing I would really advise against is returning the message of the exception to the client as part of the response, that would be a security flaw as you don't want an external user to know what's going on

[2021-03-23 17:54] #162 closed

[2021-03-23 17:57] keithmgould commented on #162
Thats a good point. will fix.

Agreed to close the issue though it might be nice to mention how to handle this (destroying your own account) in readme?

[2021-03-23 18:00] mcelicalderon commented on #162
Right, and I was actually thinking we should add a remove_resource mutation to the gem too. DTA does support this action.

[2021-03-23 18:03] mcelicalderon opened #163 "Add destroy resource mutation"
We should support a destroy account mutation, name up for discussion.

This issue is the result of #162

[2021-03-23 18:13] keithmgould commented on #163
I mean... `selfDestruct` would be the most *fun* but I went with `userDestroy`

[2021-04-14 13:23] l3x4 opened #166 "Error's path on validation errors"
### Question

For validation errors it will be very helpful to specify the field where the validation failed (to highlight it on the form for example).

Currently the situation looks like this:

1. The path contains just the mutation name, for example for the empty email it's like so: `"path": ["userSignUp"]`. Would be great to have `"path": ["userSignUp", "email"]`
2. The attempt to build the err

[2021-04-14 17:18] mcelicalderon commented on #166
Hey @l3x4! So yes, the error won't come in the path and I'm not sure if we want that level of detail for the arguments or if even if that is a part of the GQL (I'll check). What we do right now for ActiveRecord errors is send all validation errors in an array as part of the extension key. Take a look at [this spec](https://github.com/graphql-devise/graphql_devise/blob/d80cbf733085cf6e353dbe56e8587

[2021-04-14 18:17] l3x4 commented on #166
@mcelicalderon Thanks for the explanation!

I did have a look at that spec, and tried it out myself on my setup too.

Yes, there's a message that the email is missing for example, but there's no signs even in the `extensions` what field is it.
It seems impossible to automatically tell the empty email error from mismatching passwords error.

If it was just some other mutation we could rescue from `

[2021-04-15 03:33] mcelicalderon commented on #166
Mmm, you mean something like this:
[code]
I passed the wrong type to the mutation just to try it, but I guess doing the same for invalid data would be possible. I see how right now the only way to display the errors is on a list, separate from the fields that originated the arguments.

I can think of an easy way to implement something that would help identify the arguments, `detailed_errors` could

[2021-04-15 03:41] mcelicalderon commented on #166
Actually the GQL gem's docs say something about it, maybe this is the best approach https://graphql-ruby.org/mutations/mutation_errors

[2021-04-15 07:33] l3x4 commented on #166
Yep, that's this part in the doc, which adds the attributes to the path:

[code]
And the result is:
[code]
The `path` is not exactly as I mentioned above (`["userSignUp", "email"]`), but the variant from documentation works perfectly well, specifying which attribute had the error.

[2021-04-15 16:09] nopain2110 opened #167 "How to use with omniauth oauth?"
### Question

I want to implement oauth with omniauth without mount devise_token_auth to my rest routes.
Is it possible?
Thank you!

[2021-04-15 16:35] mcelicalderon commented on #167
Hey @nopain2110! We don't support oauth authentication. For that I think you will defintively need at least a REST endpoint for the callback. [DTA](https://github.com/lynndylanhurley/devise_token_auth) definitively supports oauth.

[2021-04-15 18:58] nopain2110 commented on #167
Thanks for your quick response.
I think I have to use DTO for oauth.

[2021-04-15 18:58] #167 closed

[2021-04-16 03:30] mcelicalderon commented on #166
Yes, the author of the gem recommends these kind of errors to be at the same level as data and not make them top level errors, but not sure if that's his personal preference or if that's actually somewhere in the GQL spec. We are still discussing with @00dav00 how to move forward on this one, but we'll definitively implement something that allows to identify the field of the error. Thank you for b

[2021-04-24 21:20] Petercopter opened #169 "ArgumentError (wrong number of arguments (given 2, expected 0..1))"
### Describe the bug

With a fresh, completely default install, I'm seeing this error when I try to do queries/mutations:

[code]

### Environment

Rails 6.1.3
Latest everything

[code]

### Steps to reproduce

Using Postman or GraphiQL, running this mutation:

[code]

### Expected behavior

Response with Auth payload

### Actual behavior

The error is coming from here:
[code]
If I change
[code]
t

[2021-04-25 21:59] 00dav00 commented on #169
Hi @Petercopter,  thanks so much for bringing this to our attention. The problem was caused by [this commit](https://github.com/rmosolgo/graphql-ruby/commit/6da5f3a806f278dc617d926e9c58906cb2535399) in gql-ruby gem.

Looks like there was a change in how the params are received by the `execute` method and we will need to adjust our generator to match the new firm.

The part of the call you are remo

[2021-04-26 05:20] Petercopter commented on #169
Great! I felt like I was going crazy. I saw there were tests for older versions of graphql, I could have sworn I tested using different versions while I was thrashing around, but maybe not.

So with this in place:
[code]
Now I'm getting
[code]

[2021-04-26 13:52] 00dav00 commented on #169
@Petercopter that looks like a problem with the configuration of the operations to use. Please check [this section](https://github.com/graphql-devise/graphql_devise#usage) of the readme for more answers.

[2021-04-26 22:25] Petercopter commented on #169
OK so I updated my routes file to this:

[code]

And now I'm getting

[code]

[2021-04-26 22:28] mcelicalderon commented on #169
Query is wrong.... mutation doesn't go inside query. You should
[code]

[2021-04-26 22:30] mcelicalderon commented on #169
Looking at your previous message I would advise to use GraphiQL to explore the schema and understand how this gem mounts mutations and queries (only mutations should be used directly, queries are used for email links)

[2021-04-26 22:42] Petercopter commented on #169
Sorry I'm confused now. I'm not trying to query the schema. I didn't put the mutations inside the query, I just changed this in the controller:

[code]

And this in the routes:
[code]
And then I did this mutation through Postman:

[code]

And then I got the error saying the field 'mutation' doesn't exist on 'query'.

[2021-04-26 22:44] Petercopter commented on #169
Wait wait I see what you mean, the syntax of the mutation is wrong. So used to using GraphiQL, Postman doesn't correct you syntax! Thanks!

[2021-04-26 22:56] Petercopter commented on #169
OK so for anyone playing along, here's where we are at.

The ONLY thing that needed to be changed was this in the controller:
[code]
to

[code]

Then, using the correct syntax for the mutation:
[code]

I get back
[code]

[2021-04-27 16:02] 00dav00 commented on #169
@Petercopter what version of ruby are you using?

[2021-04-28 03:25] #169 closed

[2021-04-29 07:28] tiopi opened #172 "Undefined method `user_confirmation_url'"
### Describe the bug
I am unable to resolve the user_confirmation_url. I get
[code]
when I try to access a `user.send_confirmation_instructions`. Am I missing something, and if so how can I go about debugging this issue?

### Environment

(paste the link(s) to the Gemfile and Gemfile.lock files.)

[code]

### Steps to reproduce

(Write your steps here:)

1. Setup graphql-devise
2. Use the graphql

[2021-04-29 08:22] suryaxan opened #173 "Sign in user with phone and otp"
### Question

Hello!

I have the following use case:

Note: I have implemented custom sign up and everything is working fine to sign up a user with either email/phone, so I am not posting any code related to that.

To implement custom login, I have done the following:
-> Added a custom Login mutation and inherited from `GraphqlDevise::Mutations::Login`
-> Updated the mount options in my custom gra

[2021-04-29 13:09] 00dav00 commented on #172
Hi @tiopi , this looks like this [devise issue](https://github.com/heartcombo/devise/issues/2704).
That method is not added by this gem but Devise.

[2021-04-29 13:17] 00dav00 commented on #173
Hi @suryaxan, loooks like a `devise` related question.

Have you tried overwriting [confirmation_required](https://github.com/heartcombo/devise/blob/master/lib/devise/models/confirmable.rb#L187) in your resource model?

To be `active for auth` a model usually needs these 3 things
[code]

https://github.com/heartcombo/devise/blob/master/lib/devise/models/confirmable.rb#L106

[2021-04-29 13:29] suryaxan commented on #173
Hi @00dav00, thanks for the quick response.

This is exactly what I missed. Thank you so much, this fixed my problem.

[2021-04-29 13:29] #173 closed

[2021-05-01 06:30] tiopi commented on #172
I noticed the issue does disappear when I added `devise_for :users` in my routes. I thought that adding items like `: confirm_account` and such setup the routes required.

[2021-05-01 14:20] mcelicalderon commented on #172
Hey @tiopi! Actually you should never need the missing method `user_confirmation_url` if you are only using this gem. If you are calling the send confirmation instructions manually, take a look at our mutation as you need to pass additional params in order for the method to use our email templates https://github.com/graphql-devise/graphql_devise/blob/590222d2622e9c209ba794450862191d1d89f456/lib/gr

[2021-05-05 21:18] RaminMammadzada commented on #42
This also helped to solve the problem.

[2021-05-08 16:43] mcelicalderon commented on #151
@wolak88 we just merged #175 and that should allow you to remove the after_initialize code. Now authentication should always happen in the controller and just pass current_reource to the gql_context. This will be released soon in `v0.15.0`

[2021-05-08 17:23] wolak88 commented on #151
@mcelicalderon Thanks for keeping me updated, great work! Your work is much appreciated!

[2021-05-08 21:07] tiopi commented on #172
Oh this looks about right. I was using send_confirmation without any arguments. Will the redirect url setup the graphql query?

[2021-05-09 16:22] mcelicalderon commented on #172
It depends on the password recovery flow you use. For the preferred one the `redirect_url` is a client url that will be contained in the email together with the reset password token. Take a look at [this](https://github.com/graphql-devise/graphql_devise/blob/dfda728cf01bc31022377b01e1ee06fe76a811d5/docs/usage/reset_password_flow.md) as reference. Also take a look at both our reset password mutatio

[2021-05-09 16:28] mcelicalderon commented on #166
Just as an update, we have decided to implement mutation level errors field, details still under discussion, but we will probably add a setting to disable top-level errors so you can actually query the new `errors` field.

[2021-05-11 22:11] openscript opened #179 "What I'm missing so I get undefined method response for nil:NilClass?"
### Question

First of all, thank you very much for the fantastic Gem and README.md. I feel like I missed something, that's why I'm running into this error:

[code]

I'm doing the following mutation:

[code]

The execute method of the `GraphqlController` looks like:

[code]

Also the concern is included:

[code]

Why is ...
[code]

... returning nil?

[2021-05-11 22:15] mcelicalderon commented on #179
Hey @openscript! You need to send the result of `gql_devise_context(User)` directly as the value of your context, not inside the `current_user` key.
[code]
Don't forget to check for `performed?`

[2021-05-11 22:22] openscript commented on #179
Big thank you to you for the super quick answer! It works :) Do you receive Paypal money on the email address you have in your Github profile? Would love to invite you on a beer or meal.

[2021-05-11 22:22] #179 closed

[2021-05-17 22:29] #118 closed

[2021-05-23 21:27] yshmarov opened #182 "Sign in user after sign_up?"
Hi there! Thanks for the great gem!
Small question:
It seems to me that the user does not get authenticated/signed_in after sign_up. Right?
https://github.com/graphql-devise/graphql_devise/blob/master/lib/graphql_devise/mutations/sign_up.rb#L40
How can I get the user logged in after sign_up?

[2021-05-25 14:39] mcelicalderon commented on #182
Hey @yshmarov! So if you are not using the `:confirmable` module on your model, you should actually receive credentials after sign up. The gem's behavior is to prevent login until you confirm your account. If you are not using the confirmable module, do let me know so I can look into that.

Even with the module enabled, you can override `active_for_authentication?` in your model. Returning `true`

[2021-05-25 14:42] mcelicalderon commented on #172
Closing this one as it looks like the problem was resolved. Feel free to reopen if you found something else ;)

[2021-05-25 14:42] #172 closed

[2021-05-26 12:58] wolak88 opened #183 "Inviting users"
### Question
Is there a possibility for current members to invite new members?
Are there any helper methods that I could use currently in graphql_devise gem?

[2021-05-26 14:01] wolak88 opened #184 "Another click in confirm account results in error"
### Describe the bug

After user confirms account, second click on the link errors with:
[code]

### Environment

gem "graphql_devise", "~> 0.15"

### Steps to reproduce

Create new user account -> click confirmation link -> click in the link again

### Expected behavior

If the user confirmed account just redirect to the redirect url.

### Actual behavior

Returns graphql error

[2021-05-26 14:03] mcelicalderon commented on #183
Hey @wolak88! Currently, not really. You can safely use the [Devise Invitable](https://github.com/scambra/devise_invitable) gem together with this one. Take a look at #156 as it was discussed before.

[2021-05-26 14:08] mcelicalderon commented on #184
Right, that might actually be better. I'll take a closer look and check if there's any reason not to do that. We will soon add another confirmation flow where the link on the email will take you directly to the client application so confirming the account can be handled there by providing the token on the mutation. It would be easier to handle an invalid or non existent token error there, plus the

[2021-05-26 14:11] wolak88 commented on #184
Thanks, looking forward to it, atm I'm going to override this resolver and call `super` if user still needs confirmation. Thanks @mcelicalderon

[2021-05-26 14:16] mcelicalderon commented on #184
That should work just fine. I would maybe just advise to be careful if you are whitelisting urls as a safety measure. Maybe call [this line](https://github.com/graphql-devise/graphql_devise/blob/a3dcb8797ced0009204275ec48d5f40f024d6468/lib/graphql_devise/resolvers/confirm_account.rb#L10) before redirecting as anyone could resend confirmation via API and redirect to a malicious site.

[2021-05-26 14:50] wolak88 commented on #184
I have one issue and maybe you can point me in the right direction. I have created query to overwrite the default one, but when I'm calling it I get:

[code]

Query:
[code]

It looks like it breaks whole schema as even introspection query stops working.

[2021-05-26 15:15] mcelicalderon commented on #184
You will need to set a type for your resolver
[code]
that is always required when you override a resolver or mutation

[2021-06-06 21:35] #184 closed

[2021-06-09 16:08] mcelicalderon commented on #184
`v0.17.0` was released and now you can use the new register mutation that will send an email with a link to your client app and a confirmation token. Then it's up to you to call the confirmation mutation from your client app and handle errors if any (e.g. account was already confirmed).

[2021-06-17 08:16] TomasBarry opened #189 "Configurable error messages"
### What is the problem the enhancement will solve?

When a token has expired, the error message returned is `x field requires authentication`. It would be great to be able to customise the error message and differentiate between the token being expired due to it having exceeded the lifespan, or whether it is invalidated due to previous usage.

### Describe the solution you have in mind

Configura

[2021-06-17 13:10] 00dav00 commented on #189
Hi @TomasBarry , have you checked if the message you are trying to customize is among the [translations file](https://github.com/graphql-devise/graphql_devise/blob/master/config/locales/en.yml)?
If so, you can [overwrite it](https://phrase.com/blog/posts/rails-i18n-guide/) on your project.

[2021-06-22 20:02] mcelicalderon commented on #189
Hey @TomasBarry! You can actually already customize this message if you are using the `SchemaPlugin`. Take a look at this lambda which is the default https://github.com/graphql-devise/graphql_devise/blob/adf4e742633e2b61e3d29bf09a26d56ef0d6aec8/lib/graphql_devise/schema_plugin.rb#L7

You can initialize your `SchemaPlugin` with the `unauthenticated_proc` argument. Here you can pass any proc (actual

[2021-06-25 12:30] TomasBarry opened #191 "Token invalidation does not occur in test environments"
### Describe the bug

When using the same token in two requests in a spec file the second request accepts the then expired token.

### Environment

[code]

### Steps to reproduce

[code]

Using `Timecop` results in the same issue.

### Expected behavior

I would expect the second request to return an error.

### Actual behavior

The second request returns the requested data.

[2021-06-25 13:46] mcelicalderon commented on #191
Hey @TomasBarry! Did you set [change_headers_on_each_request]( https://github.com/graphql-devise/graphql_devise#devise-token-auth-initializer) to true in the dta initializer?

[2021-06-28 08:38] TomasBarry commented on #191
@mcelicalderon, yes. What I find strange too is that before the second request, the response headers look like:

[code]

See how the `access-token` value is just a blank space (as is the `expiry`)?

However, after the second request the `access-token` and `expiry` do have values that are different to the `auth_headers` but a third request with the old headers (in `auth_headers`) still succeeds (ev

[2021-06-28 13:14] TomasBarry commented on #189
@mcelicalderon you're spot on.

[2021-06-28 16:32] mcelicalderon commented on #191
Hey @TomasBarry, thank you for looking into this. I think I might know where the problem is, but until I get to look into it, could you please share how your graphql_controller is setup? Knowing how you are authenticating the user would be very helpful as there are currently a couple of ways to do it, some of them already deprecated. Also, if you are mounting the gem on your schema via the plugin

[2021-06-29 07:44] TomasBarry commented on #191
Sure thing @mcelicalderon.

Here is our `x_schema.rb` file:

[code]

Here is our controller:

[code]

We are mounting the plugin through the schema only.

My understanding was that using `gql_devise_context` to authenticate the user was the suggested and non-deprecated approach and then in `context[:current_resource]` you have the authenticated resource, in this case, our user. That is correct, ri

[2021-07-01 16:49] mcelicalderon commented on #191
@TomasBarry thank you for providing details on your implementation. I still haven't been able to take a closer look at this, but I'm pretty sure of what I might be (specially if you are not seeing this problem in production). A workaround for problems like this was discussed in https://github.com/graphql-devise/graphql_devise/issues/151#issuecomment-780080312

please take a look and that will prob

[2021-07-05 13:33] TomasBarry commented on #191
@mcelicalderon, so it's just an issue in a test environment?

[2021-07-05 13:37] mcelicalderon commented on #191
That's my guess as I haven't been able to take a closer look yet. So, you could try enabling eager load in your test environment and see if that fixes the problem.

[2021-07-06 13:16] TomasBarry commented on #191
Changed to eager loading in test and the issue is still there. Even though when I look at the users token they are being updated it seems that old tokens are still considered valid. A bit unsure as to why this would be the case. Here's a bit of a log of what's happening:

[code]

So the `user.tokens` is being updated. But making a request with an old access token is still authenticated when it sho

[2021-07-06 16:58] mcelicalderon commented on #191
So, after enabling eager load is the problem with the first request gone? I mean an empty token on the response.

For the other token remaining valid, how soon after the first request are you making the next one? There's a configuration in devise token auth that will allow the token to remain valid for a certain amount of time so you are able to batch requests. I think the default might be 5 secon

[2021-07-08 12:18] TomasBarry commented on #191
@mcelicalderon, regarding `batch_request_buffer_throttle`. I'm waiting until after this throttle time. I've tried both sleeping for `batch_request_buffer_throttle + 1.second` and Timecopping to after that buffer time. That's what's confusing me, in production this behaves as expected but in test I can't seem to get the error on token re-use (after the throttle time).

[2021-07-20 08:48] TomasBarry commented on #191
@mcelicalderon any further ideas on this one?

[2021-07-21 22:40] mcelicalderon commented on #191
Hey @TomasBarry, sorry we haven't been able to look into this yet. I'll try to look into this over the weekend. No more ideas of the top of my head. I can't think of another reason why it could behave differently in dev/test other than the eager load setting.

[2021-07-21 22:50] mcelicalderon commented on #191
If you could provide a small sample project where the errors is replicated that would be ideal so I can test the same conditions you are

[2021-07-25 14:23] 00dav00 commented on #191
Hi @TomasBarry, validating weather or not a token is valid is handled by DTA at the moment, I think you may find the answer to this unexpected behavior checking [valid_token?](https://github.com/lynndylanhurley/devise_token_auth/blob/5c0baba8aaf005d03daeaf425d555739d3215603/app/models/devise_token_auth/concerns/user.rb#L106), [token_is_current?](https://github.com/lynndylanhurley/devise_token_auth

[2021-07-28 10:14] TomasBarry commented on #191
@00dav00, `valid_token?` actually returns `true` which seems to be the issue.

Going line by line, [`user.token_is_current?`](https://github.com/lynndylanhurley/devise_token_auth/blob/5c0baba8aaf005d03daeaf425d555739d3215603/app/models/devise_token_auth/concerns/user.rb#L108) returns `true` even though it's already been used.

[2021-07-29 10:52] TomasBarry opened #192 "Upon login, update `context[:current_resource]` with `authenticatable`"
### What is the problem the enhancement will solve?

Given a schema, where I have changed `authenticable` to be the same type as `current_resource`, I would like to be able to query data on authenticable instead of having to send two queries - one for the mutation to log in to get the credentials and a second to perform the query to request the data that I want.

### Describe the solution you have

[2021-07-29 13:15] mcelicalderon commented on #192
Hey @TomasBarry! I'm not sure I completely understand the problem. So you want to query information from `authenticatable` on the same login mutation, right? For that you should be all set, take a look at this example https://github.com/graphql-devise/graphql_devise/blob/a69b27a402933861304ebb35707b130092d15b4f/spec/requests/mutations/login_spec.rb#L20

Or not sure if you are trying to perform add

[2021-07-29 13:47] TomasBarry commented on #192
@mcelicalderon - I did leave out a crucial bit of information - If you have an schema using [Object Authorization](https://graphql-ruby.org/authorization/authorization.html#object-authorization) then this becomes a problem (by default, you're right it's not an issue).

Often, the object authorization uses the context:

[code]

If you're using object authorization then `context[:current_resource]`

[2021-08-01 14:13] mcelicalderon commented on #192
@TomasBarry that makes sense! Happy to review your MR when you open it, thanks!

[2021-08-02 19:27] #192 closed

[2021-08-02 19:58] mcelicalderon commented on #192
Released `v0.17.1` with your change, @TomasBarry. Thanks!

[2021-08-09 00:54] mcelicalderon commented on #191
Hey @TomasBarry, I was finally able to look into this and found the issue. It looks like DTA uses `updated_at` on the created token to identify if a request is a batch request. Related code [here](https://github.com/lynndylanhurley/devise_token_auth/blob/4c5245b88b39c1bb305e0cbdbfc2513eebdeda93/app/controllers/devise_token_auth/concerns/set_user_by_token.rb#L159). For this reason, if you create a

[2021-08-09 10:19] TomasBarry commented on #191
@mcelicalderon, that makes sense. However, I can't replicate your failure:

[code]

The same headers are used in both queries but the second query still succeeds. The same is true with Timecop. Do you have an example repo/branch where I can see your example working and I'll debug from there?

[2021-08-09 14:39] mcelicalderon commented on #191
Sure, @TomasBarry here's a branch where I changed a single spec. Others will fail as we were not testing with tokens valid for a single request setting enabled. But take a look at the commit and you'll see the expectation works. Also, here's my Gemfile.lock so you can check if it's related to a version of a dependency.

[branch](https://github.com/graphql-devise/graphql_devise/tree/test-tokens-per

[2021-08-09 15:48] TomasBarry commented on #191
@mcelicalderon, is [this](https://github.com/graphql-devise/graphql_devise/compare/test-tokens-per-request#diff-c3ddb5b021d3001316c418ae017d541d6bb929e309a58f518fc475827b0336aeR57) request definitely passing?

I can't see where you're setting `request.headers` (unless assigning to `headers` does that?) so I'd suspect that first request fails too - unless you tell me otherwise?

[2021-08-09 15:58] mcelicalderon commented on #191
Yes, @TomasBarry that one is definitively passing. I changed an existing spec to test this, didn't give it much thought as we are not keeping the spec like that. I would advise using a gem like [pry](https://github.com/pry/pry) to debug further. Our helper method [`post_request`](https://github.com/graphql-devise/graphql_devise/blob/e9c9a8f6cf8ad9851261e907347e7a3c8d635e3e/spec/support/contexts/gr

[2021-08-09 16:10] TomasBarry commented on #191
@mcelicalderon, nice. Playing with that commit it looks fine. Will keep digging in on my side I imagine it's something on the setup we're doing.

Thanks for digging into this.

[2021-08-09 16:17] mcelicalderon commented on #191
No problem, @TomasBarry. I'm closing this one as that appears to be the problem and the issue should be moved to DTA. Feel free to reopen if you run into something else. I might open an issue on DTA if you don't.

[2021-08-09 16:17] #191 closed

[2021-09-02 16:37] Qchmqs opened #195 "cannot use newer version of rubocop ( 1.18, 1.19, 1.20 ) with the graphql-devise gem"
https://github.com/graphql-devise/graphql_devise/blob/e9c9a8f6cf8ad9851261e907347e7a3c8d635e3e/.rubocop.yml#L94

Error: The `Layout/AlignHash` cop has been renamed to `Layout/HashAlignment`.

[2021-09-03 13:33] 00dav00 commented on #195
Hi @Qchmqs , we are keeping version of rubocop configuration to be compatible with older versions of ruby. We are planning to update it after removing support for them in V1 release.  What we do is keep a different rubocop config file uncommited in our locals. Perhaps that can work you as well in the mean time.

[2021-09-06 09:27] Qchmqs commented on #195
hi @00dav00 , it's causing me problems when I tried to setup a linting job in CircleCi, do you know of a way to tell rubocop to ignore gem introduced lints ?

[2021-09-06 15:13] mcelicalderon commented on #195
@Qchmqs I don't think the default behavior is to inherit config from gems. You can do that with https://docs.rubocop.org/rubocop/configuration.html#inheriting-configuration-from-a-dependency-gem but you should get that by default. I would advise checking your config file again. Maybe an inherited config is doing gem files inheritance

[2021-09-07 10:57] maszuDEV opened #196 "How to change names of queries and mutations ?"
### Question

Hello everyone,

In my case, I have a user model like: `User::Model`, which is generating mutations named, e.g. `userModelLogin`.

Is there any option to change the way how queries and mutations are naming? I would like to have just `userLogin`.

Best regards!

[2021-09-07 13:43] 00dav00 commented on #196
Hi @maszuDEV , the names of the default operations will use the class and namespace, check these links for reference:
- https://github.com/graphql-devise/graphql_devise/blob/e9c9a8f6cf8ad9851261e907347e7a3c8d635e3e/lib/graphql_devise.rb#L40
- https://github.com/graphql-devise/graphql_devise/blob/e9c9a8f6cf8ad9851261e907347e7a3c8d635e3e/lib/graphql_devise/mount_method/operation_preparers/default_op

[2021-09-07 20:13] maszuDEV commented on #196
@00dav00 This is what I needed! Works great, thanks a lot!

[2021-09-07 20:46] 00dav00 commented on #196
Good to know @maszuDEV !

[2021-09-07 20:58] mcelicalderon commented on #196
We should probably add a simpler way to rename queries...

Another way to do this if you are using the plugin to mount this gem in your own schema, would be to create your own login mutation that inherits from the one included in this gem, and use it in you own mutation type with the name you like. Like we do in here:
https://github.com/graphql-devise/graphql_devise/blob/e9c9a8f6cf8ad9851261e90734

[2021-09-08 17:05] mcelicalderon commented on #196
@00dav00 reopening this one as a feature request. Changing names of the queries should be straightforward and a nice addition. Perhaps something in the resource loaders like:
[code]

[2021-09-13 14:18] #195 closed

[2021-09-21 13:52] #144 closed

[2021-09-21 14:24] mcelicalderon commented on #182
Closing this one as no further feedback was received. signUp mutation is already removed on master, but the new register mutation behaves the same way. Feel free to reopen if you think there's still something wrong with the current behavior

[2021-09-21 14:24] #182 closed

[2021-10-04 11:58] davideluque opened #200 "Understanding authentication"
### Question

I am having a difficult time trying to translate what I used to do in devise token auth:

[code]

I want to be able to indicate which mutations and queries require that the user is authenticated (i.e., headers must be present)

I have tried to search in the dummy app, within the logout, the update user, but I can't understand how you force the authentication to happen.

Here are my r

[2021-10-05 13:24] 00dav00 commented on #200
Hi @davideluque , this gem handles only a very very basic part of authentication. Please check `authenticate_default` and `unauthenticated_proc` in our README to undestand a bit more about it. You can also check [this schema](https://github.com/graphql-devise/graphql_devise/blob/master/spec/dummy/app/graphql/interpreter_schema.rb#L7) for a short example on how this is used.

If you want more custo

[2021-10-12 02:39] benkovy opened #202 "Allowing graphiql to use an access token"
During development the graphiql interface is a huge bonus. But it becomes difficult when you have resources that require authentication.

If you have devise configured to change access tokens on every request this can be even more difficult.

I have a hacky solution that I am using and thought I might share it here.

1. I removed the `graphiql-rails` gem from my Gemfile.
2. I changed my routes to

[2021-11-12 09:38] SimonBrazell commented on #120
For anyone that stumbles across this question, this is how I achieved it using Angular and Apollo Angular for the front-end:

[code]
The `auth` link retrieves the credentials from my token service while the `middleware` link gets the response headers which contain the new/refreshed credentials and stores them in the same service for use in the next request.

[2021-11-18 10:31] davideluque commented on #200
Hi @mcelicalderon @00dav00, unfortunately, I have not been able to implement the authentication yet.

I did not have a rails app before starting with this gem, so I do not have an existing GQL API.

I think I am using the schema this gem provides and adding new queries through the `additional_queries` and `additional_mutations`. I am sure this is not the correct way, but it is working now.

Do I n

[2021-11-18 14:13] 00dav00 commented on #200
Hi @davideluque , this gem is a [rails engine](https://edgeguides.rubyonrails.org/engines.html) which makes having a `rails` app a pre-requisite to start using it.
Once you have a `rails` app with a GQL schema configure you can choose between:
- using a seprate gql schema for devise operations
- use the same schema you are using for all your gql operations

Hope this clarifies your doubts.

[2021-11-18 14:25] davideluque commented on #200
Hi @00dav00,

I think my message was misunderstood, sorry, I am not a native English speaker.

My application is Ruby on Rails, but as soon as I created the application, I installed graphql-devise. That's what I meant, that's why I don't have a schema, because the project is totally new and I didn't have anything in GraphQL before.

From there comes my question of whether I should create a schema

[2021-11-18 17:05] mcelicalderon commented on #200
Hey @davideluque! I would suggest yo create your new GraphQL project first. Take a look at https://github.com/rmosolgo/graphql-ruby#getting-started

Once you have your schema, use our installer to mount the gem in your existing schema https://github.com/graphql-devise/graphql_devise#mounting-operations-in-an-existing-schema--v0120

Then take a look at https://github.com/graphql-devise/graphql_devi

[2021-11-19 10:44] davideluque commented on #200
Thank you so much @mcelicalderon and @00dav00

I think this will help me

[2021-11-26 04:04] mcelicalderon commented on #202
Hey @benkovy! Thank you for opening this and sorry we've taken so long to reply. I will take a look at this soon 👍

[2021-11-29 01:30] SimonBrazell commented on #156
@fkoyo getting the same error - `undefined method `accept_invitation_url'`, how did you solve this?

[2021-12-10 03:01] mcelicalderon commented on #202
Hello again, @benkovy! Sorry we took so long to reply. Thank you for looking into this a coming up with a solution 🚀

That's a real concern, it would be risky for anyone to start using this gem if it pulls code from anywhere, even if most of the time it would be setup only for dev envs. Also, I don't think we are going to include something in this gem related to views. We are trying to keep the AP

[2021-12-10 03:01] #202 closed

[2021-12-27 09:45] wolak88 opened #204 "Deprecation warnings on sidekiq process"
### Describe the bug

I get deprecations warning when starting sidekiq process.

### Expected behavior

No deprecation warnings

### Actual behavior

This is how I mount my schema:
[code]

E.g. custom login mutation:
[code]

Logs from sidekiq process:
[code]

[2021-12-27 13:11] 00dav00 commented on #204
Hi @wolak88 this is the expected behavior, please notice some operations were replaced (for example `sign_up` is now `register`). Here you have [a list of the currently supported operations](https://github.com/graphql-devise/graphql_devise#available-operations), you can avoid the warning messages by using the new operation names instead of the deprecated ones.

[2021-12-27 13:51] wolak88 commented on #204
@00dav00
So this is where I get confused, names of mutations inside gem haven't changed?
Now there is a discrepancy between operation name and mutation name e.g. `registration` and `GraphqlDevise::Mutations::SignUp`?

[2021-12-27 14:42] 00dav00 commented on #204
Hi @wolak88, I think this has been updated in the latest version of the gem, as you can see there is no `sign up` file [in the mutations directory](https://github.com/graphql-devise/graphql_devise/tree/master/lib/graphql_devise/mutations).

About `the warning is there even if I don't use those in ResourceLoader` I haven't experienced this myself, but I think one of these can solve it:
- Update the

[2021-12-28 12:13] wolak88 commented on #204
Yeah @00dav00 I was confused as I was looking at tagged(0.17.1) version code instead of master and skip option helped for the sidekiq warnings, thanks!

[2021-12-28 12:13] #204 closed

[2021-12-28 13:20] wolak88 commented on #204
Just one more small question @00dav00 with the deprecation of `update_password` mutation the only flow to change the password is: `sendPasswordResetWithToken -> open email -> click link -> go to screen in app where you put in new password -> updatePasswordWithToken from email`

[2021-12-28 14:23] 00dav00 commented on #204
Yes @wolak88 that is the flow the gem is planning to keep in the long run. I think you can keep the previous flow as custom mutation if you want to use it for your project.

[2022-01-06 18:29] tonekk opened #206 "Customized Mutations"
Hi there,

what is the best way to alter / customize the mutations that are already given by the gem?
For example, I want to use the `register` mutation, but in our case we need to also send a `username` and check the terms of service.

I could fork the gem and edit the mutation, but I do not think that this is a good way, since I would have to maintain the fork.
Can I subclass the Mutation someho

[2022-01-06 18:33] mcelicalderon commented on #206
Hey, @tonekk, you sure can! Take a look at the `operations` option in https://github.com/graphql-devise/graphql_devise#available-mount-options

There's an example in https://github.com/graphql-devise/graphql_devise/blob/b5985036e01ea064e43e457b4f0c8516f172471c/spec/dummy/app/graphql/mutations/login.rb#L6 but the operation was already removed. Anyway, the same should work for the new `register` mut

[2022-01-06 18:39] mcelicalderon commented on #206
Actually, we do have an updated example in master https://github.com/graphql-devise/graphql_devise/blob/ca345f3f4fd0b54fb1941471d520e502fa06375d/spec/dummy/app/graphql/mutations/register.rb#L9

[2022-01-12 10:55] tonekk commented on #206
Thank you, I implemented it :)

[2022-01-12 10:55] #206 closed

[2022-01-13 10:10] maszuDEV opened #207 "When do you plan on supporting rails 7"
### Question

Hello everyone! Do you know when rails 7 support will be added?

Best,

[2022-01-13 17:34] mcelicalderon commented on #207
Hey, @maszuDEV! We still depend on [this PR](https://github.com/lynndylanhurley/devise_token_auth/pull/1517) getting into a DTA release, before we can release a new version that supports Rails 7.0. Master already supports Rails 7.0 and everything seems to work fine. We are just getting an error on the generator specs and we need to look into that. So if you want to give it a try, you can use this

[2022-01-16 10:48] maszuDEV commented on #207
@mcelicalderon thanks for the answer! Then it's best to wait to upgrade as well.

[2022-01-25 14:31] mcelicalderon commented on #207
Test matrix already includes Rails 7.0 and everything looks fine. We still need to wait for DTA to release a new version https://github.com/lynndylanhurley/devise_token_auth/pull/1517#issuecomment-1003751213

[2022-02-21 13:40] janraasch opened #212 "Usage of legacy `.graphql_definition` objects on SchemaPlugin#authenticate_option"
### What is the problem the enhancement will solve?

After upgrading to `graphql_devise 0.18.0` I am getting the following deprecation message from `graphql 1.13.10`:

[code]

#### Context

I set up our `Schema` like so

[code]

### Describe the solution you have in mind

Not sure 😇. Judging from the deprecation message, we could simply remove the call to `.graphql_definition` 🤓...

### Describe a

[2022-02-21 18:06] mcelicalderon commented on #212
Thank you for the report, @janraasch! We didn't change that in 0.18, so perhaps you also upgraded the `graphql` gem that has now deprecated that method? Anyway, we should fix that in preparation for the release of GraphQL 2.0

[2022-02-22 07:14] janraasch commented on #212
Hi @mcelicalderon, thank you for replying so quickly 🙏.

Yes, I did indeed upgrade `graphql` as well. Being able to upgrade `graphql` to `v1.13` was the **main reason for upgrading** `graphql_devise` to `0.18.0` for me, see https://github.com/graphql-devise/graphql_devise/pull/205#issuecomment-1032742870.

I'd love to see a fix for this deprecation message even in a `0.18.1`-patch release. What do

[2022-02-24 02:31] mcelicalderon commented on #212
Not using that method should be simple enough, so if we get the capacity to work on that, we can definitively release a patch version with just that. But who knows, v1 is near, so that might happen first? 🙌 🎉

Anyway, leaving this one open until the deprecation is fixed.

[2022-02-24 08:25] janraasch commented on #212
👌. If you could gimme some pointers as to what needs to be done, I might be able to give it a try.

I just took a few minutes:

* removed the call,
* ran the specs, **but**

I am not familiar enough with the inner workings of `graphql` to have the errors point me into a direction for a fix 😇.

Very nice 🐎 😁.

[2022-02-24 16:41] mcelicalderon commented on #212
![image](https://user-images.githubusercontent.com/3926414/155567084-eb25abf8-949f-4eec-83f7-93fb33531fe7.png)

That has to be replaced with something else of course 😄, but if you want to dig a little deeper, I think it all comes down to this https://github.com/graphql-devise/graphql_devise/blob/502c555e9f06ef715e88f994d563ce83ecf118ee/lib/graphql_devise/schema_plugin.rb#L79

I can't recall right

[2022-03-06 22:57] mcelicalderon commented on #212
I looked a bit onto this and found that supporting GraphQL 2.0 will be a bit harder than expected. Apparently we are not going to be able to do something like:
[code]
We'll no longer be able to `.accept_defintion` of `authenticate` at the field level.

There's a related issue where the author of the GraphQL gem gives some alternatives in  https://github.com/exAspArk/graphql-guard/issues/53

So, as

[2022-03-08 11:18] janraasch commented on #212
Hi @mcelicalderon, thank you for looking into this.

**idea** What do you think about then *hiding the deprecation message* via `silence_deprecation_warning: true` (see https://github.com/rmosolgo/graphql-ruby/commit/3d1c24aa2ad1e72f345e2d6cc4a228686eaae4b8) in a `0.18.x`-release?

**reasoning** As a user of this library I cannot do anything about this deprecation message `=>` It only? adds noise

[2022-03-09 03:57] mengqing opened #216 "Uninitialized constant GraphqlDevise"
Getting the following error

[code]

Possibly related to https://github.com/graphql-devise/graphql_devise/pull/209

If I move `ActionDispatch::Routing::Mapper.include(GraphqlDevise::RouteMounter)` to the end of the file then it works

[2022-03-09 12:07] 00dav00 commented on #216
Hi @mengqing , that is strange, could you post a gist with your Gemfile please?
By the time this line is reached, zeitwerk must have loaded the gem module already.

[2022-03-09 19:17] dominikklein commented on #216
I have the same error:

[2022-03-09 19:50] 00dav00 commented on #216
@dominikklein thanks for the gist, do you think you can add full backtrace of the error to it please?
Also:
- Is this happening on your local? or on a deployed ENV?
- Do you have `eager loading` activated?
- Have you tried stopping spring?

I noticed you are referencing the GH repo directly, that will make bundler use the master branch instead of a published version of the gem. Any particular reas

[2022-03-09 20:00] dominikklein commented on #216
I think i had some problems with the versions for "devise_token_auth" without fetching it directly from GH.

Now i tested it both gems again without the GH and the installation is working. And also the error is gone, so i think for me it's fine now.

But here the additional information. When i add the GH again the error is present, maybe some caching? I'm in my local development envoirment and eag

[2022-03-09 20:16] 00dav00 commented on #216
Thanks for the insights @dominikklein , will try to replicate in local. Good to know your project works now.

[2022-03-11 00:32] 00dav00 commented on #216
@dominikklein I'm unable to reproduce this in my local forcing lazy loading. Is `XYZ-playground` in a public repo? If it is I think it could be quite useful to have the url since it's setup is triggering the problem already.

[2022-03-11 00:44] mcelicalderon commented on #216
@dominikklein if spring is not running, you could try removing bootsnap's cahce as I see you are using it. For that you can stop the app and run `rm -rf tmp/cache/`

[2022-03-14 11:38] 00dav00 commented on #216
@mengqing  this problem was addressed with #220 , I'm closing this issue for now.

[2022-03-14 11:38] #216 closed

[2022-03-22 14:15] DerekSmits opened #221 "Dont change dependencies in 0.18.2 version"
In 0.18.2 version, due to change log adding supporting of GQL 2.0. but while adding it to gemfile i caught an error:

**graphql_devise (>= 0.18.2) was resolved to 0.18.2, which depends on
      graphql (< 1.14.0, >= 1.8)**

[2022-03-28 00:10] mcelicalderon commented on #221
@DerekSmits closing this one as no additional feedback was received. Feel free to reopen if you still think there's something we should look into.

[2022-03-28 00:10] #221 closed

[2022-04-07 09:35] TomasBarry opened #225 "Override `graphql_name` to allow for shared mutations"
### What is the problem the enhancement will solve?

In our system, we have multiple different resources. We would like to have a single mutation per operation that can be shared between the various resources.

Essentially, be able to use a Union Type for the authenticable resource where all resources can share a common mutation rather than having to implement one mutation per resource per operati

[2022-04-10 18:48] 00dav00 commented on #225
Hi @TomasBarry , I see your point here, I guess the `graphql_name` could be honored in case it is explicitly set in the class instead of concatenating the resource and action.  We will have to check the implications of this more carefully before implementing. Are you interested in opening a PR for this?

About using a single mutation to login all resources, there are 2 things that I would like to

[2022-05-12 13:57] snyt45 opened #226 "GraphQL::Schema::DuplicateNamesError"
### Describe the bug

I have implemented Mutation to sign up users.
Changing the content of the mutation argument raises a `GraphQL::Schema::DuplicateNamesError`.

If I restart rails, this problem goes away, but if I change the argument content of Mutation again, I get a `GraphQL::Schema::DuplicateNamesError`.

Perhaps it is caused by double registration in the following place (sorry if I am wrong

[2022-05-19 22:13] lagparty commented on #225
Hi, I'm having the same issue with two authenticatable models. I thought I could share the same mutation between them by using the `GraphqlDevise::ResourceLoader`, but sometimes it used one model or the other (I think this is caused by sharing a class-level instance variable).

I have no issue with duplicating code in the meantime, but I'm worried that I could accidentally share logins between dif

[2022-05-24 11:18] NathanielAwoke commented on #153
Is there any way to set current_resource for public fields ?

[2022-05-28 09:31] NathanielAwoke opened #227 "how to set current_resource for both authenticated and unauthenticated fields"
### Question

`current_resource` is set only when the field is defined as an authenticated field, is there any way to set the `current_resource` for unauthenticated fields also, given the proper auth headers are set in the request ?

`field :listings, Types::ListingType, authenticate: true` -> current resource is accessible here
`field :listings, Types::ListingType, authenticate: false` -> current

[2022-06-11 09:23] openscript commented on #207
The gem seems to support Rails 7 now, but it's missing in the current release?

![image](https://user-images.githubusercontent.com/1105080/173181973-108e43e6-b6ee-4dae-acd2-f9958f0f8841.png)

[2022-06-11 18:36] mcelicalderon commented on #207
Hey @openscript! As stated in https://github.com/graphql-devise/graphql_devise/issues/207#issuecomment-1021243045 DTA is one of the main dependencies of this gem and they still haven't released a version that supports rails 7. Support for rails 7 is already merged into master for both DTA and this gem, but we cannot release a version with support for that until they do first. I wouldn't recommend

[2022-06-11 20:35] openscript commented on #207
@mcelicalderon Thank you very much for explaining :)

[2022-07-20 02:18] mengqing opened #228 "Support for ruby-graphql v2"
Any timeframe on when to support ruby-graphql v2?

[2022-07-20 16:28] mcelicalderon commented on #228
@mengqing I started https://github.com/graphql-devise/graphql_devise/pull/222 months ago but we haven't been able to follow through. I see the importance of supporting V2. I'll try to get it done I August, not sure I'll be able to make it before July ends. Sorry about that

[2022-07-24 00:10] mcelicalderon commented on #212
Closing this one as the deprecation message was silenced. Thank you, @janraasch!

[2022-07-24 00:10] #212 closed

[2022-07-24 00:15] mcelicalderon commented on #228
@mengqing initial working implementation in https://github.com/graphql-devise/graphql_devise/pull/222

I hope we can merge and release this soon. This won't be a major release, simply a minor one, so `v0.19`.

Thank you for your patience everyone! And sorry this took so long

[2022-07-25 00:04] mengqing commented on #228
@mcelicalderon Thanks for the hard work!! Awesome work!!

[2022-07-25 01:16] #228 closed

[2022-08-10 19:41] mcelicalderon commented on #207
@maszuDEV yes, we removed support from master in order to make the release process easier. We don't have a good estimate on when DTA will release a version that supports Rails 7. When they do, it will be very simple here to add back the support. In the mean time if you were already using master to get Rails 7 support, I would recommend looking at this commit https://github.com/graphql-devise/graph

[2022-08-12 04:31] mcelicalderon commented on #207
@maszuDEV, created https://github.com/graphql-devise/graphql_devise/tree/rails-7-support to keep support for Rails 7

[2022-08-12 08:10] maszuDEV commented on #207
thank you very much ❤️

[2022-08-15 08:41] whotwagner opened #235 "A class must be provided when mounting a model. String values are no longer supported"
### Describe the bug

I installed graphql_devise and ran the command `bundle exec rails generate graphql_devise:install`. Since that my railsapp crashes with the following error:

[code]

### Environment

Gemfile: https://pads.c3w.at/code/#/2/code/view/Q+7cv1IitOQndSxra3JiicQVM1DU8bKZi4IMQIyWyW8/
Gemfile.lock: https://pads.c3w.at/code/#/2/code/view/37xekLSczL-xAJDASM7O0mFrpTIfc0qJDUlFF6rXQzk/

###

[2022-08-15 15:26] whotwagner commented on #235
I was able to fix this. the generator created the following line in config/routes.rb:

[code]

I changed that to:

[code]

[2022-08-15 16:03] 00dav00 commented on #235
Hi @whotwagner  that is a very nice catch!
The generator is still using the class as a string when it would be using the class itself.

In case you want to create PR this is the [related line](https://github.com/graphql-devise/graphql_devise/blob/master/lib/generators/graphql_devise/install_generator.rb#L41).

Thanks so much for reporting this.

[2022-08-15 16:08] whotwagner commented on #235
Do you think that it might be safe to simply remove the comments or do you expect  backwards compatibility issues?

[2022-08-15 17:04] #235 closed

[2022-08-29 20:34] mateuszbialowas opened #239 "Mount only necessary operations in existing schema."
### Question

[code]
  In docs I found only options to skip load resources for listed operations. Can I prevent mounting send_password_reset_with_token at all? I don't want the mutation `send_password_reset_with_token` to be available in my mutations. Can I do this?

[2022-08-29 20:58] mcelicalderon commented on #239
Hey, @mateuszbialowas! You sure can. Take a look at the available options you can pass to the resource mounter in https://github.com/graphql-devise/graphql_devise#available-mount-options

You can specify the `only` or `skip` option to get only the mutations you want. Let me know if that worked

[2022-08-29 21:00] mcelicalderon commented on #239
I see in your example that you are actually using skip. Is that not working? Could you provide a sample repository where you can observe this behavior?

[2022-08-29 21:47] mateuszbialowas commented on #239
@mcelicalderon When you said that everything should be fine, I restarted my computer and it began working. Thank you very much.

[2022-08-29 21:47] #239 closed

[2022-09-01 22:32] #227 closed

[2022-09-15 02:15] CodySwannGT commented on #207
DTA v1.2.1 was just released with Rails 7!

[2022-09-15 02:38] mcelicalderon commented on #207
Whaaat? That's awesome. Thank you for the ping, @CodySwannGT! I'm on it

[2022-09-15 15:53] mcelicalderon commented on #207
Closing this one as [v1.1.0](https://rubygems.org/gems/graphql_devise/versions/1.1.0) was released. Thank you all for your patience!

[2022-09-15 15:53] #207 closed

[2022-09-15 16:01] openscript commented on #207
@mcelicalderon Thank you for acting so quickly and all your work on this project!!!

[2022-09-15 16:08] mcelicalderon commented on #207
Since master and the released version already support rails 7, please stop using the branch https://github.com/graphql-devise/graphql_devise/tree/rails-7-support so I can remove it in the near future

[2022-09-26 08:13] janosrusiczki opened #243 "Authenticate non-root fields"
Is it possible to authenticate non-root fields?

After some hurdles I managed to set this gem up with graphql 2.0.14. I got to the point where I set `authenticate_default: false` in my main schema and if I set `authenticate: true` on one of the root fields in QueryType I'm getting an error if I want to access them while not being authenticated. However if I add `authenticate: true` to one of the n

[2022-09-27 17:23] mcelicalderon commented on #243
Hey @janosrusiczki! You are not doing something wrong, this is the correct behavior of the gem as commented in https://github.com/graphql-devise/graphql_devise/blob/c9011c62f13e0c2838cd4ccbda87ab11742558a4/lib/graphql_devise/schema_plugin.rb#L26

This was done for performance reasons at first as not doing this would mean we have to run the authentication code for every field and that might happen

[2022-09-28 16:56] janosrusiczki commented on #243
I agree, it's probably a big overhead to check all the fields.

Maybe a global flag in an initializer: granular authentication on / off?

Or some way to enable it on each type? Default being disabled.

[2022-09-28 22:19] mcelicalderon commented on #243
We need to think about this a bit more, but I kind of feel we might not want to allow this unless it has a very low impact to performance. For a more granular access control I think it would be better to use an authorization gem. [This one](https://github.com/exAspArk/graphql-guard) was kind of an inspiration for this project, but I don't see much activity on the project.

Anyway, there might be a

[2022-10-17 16:23] jpmermoz opened #244 "Cannot make it work with Mongoid"
It looks like graphql-devise is getting some issues while trying to work with Mongoid instead of AR.

It appears that when you try to login using the userLogin mutation, it fails because it is trying to access a property called "connection" for the base class User, but Mongoid does not have that attribute / property.

I looked at what devise_token_auth does in these cases, and I guess that it can

[2022-10-17 17:16] 00dav00 commented on #244
Hi @jpmermoz ,  thanks for reporting this.

[2022-10-17 18:22] jpmermoz commented on #244
So, luckily mongoid-locker was not an issue, but I've found another problem here:

https://github.com/graphql-devise/graphql_devise/blob/c9011c62f13e0c2838cd4ccbda87ab11742558a4/lib/graphql_devise/concerns/additional_model_methods.rb#L8

It appears that the **reconfirmable** method is asking for **column_names** but Mongoid uses **fields**.
I've fixed it on my fork by comparing with both column_na

[2022-10-17 18:31] jpmermoz commented on #244
I've created a PR here: #245

[2022-10-17 22:23] benkovy opened #246 "`context[:controller]` is nil when trying to login"
### Question

This is likely to do with my setup but it is basically a fresh rails application where I added the `graphql` gem set up a schema and then added the `graphql_devise` gem as well.

When I fire the `login` mutation I am running into an error.

`undefined method `resource=' for nil:NilClass`

coming from [this line](https://github.com/graphql-devise/graphql_devise/blob/dd45f57e259f7d8108

[2022-10-17 22:27] benkovy commented on #246
solved 🤦

don't forget to add the `gql_devise_context(User)` to your schema context!!

[2022-10-17 22:27] #246 closed

[2022-10-20 14:56] #244 closed

[2022-11-05 17:02] benkovy opened #249 "Scoping auth tokens to more than one model"
A theoretical `User` has many `Organizations`. When they sign in I am wondering if it is possible to have that token **_only_** be valid for actions against that Org.

The idea would be that the organization is resolved via some header that is passed up in the request. Upon login that header maps to an Organization - then some logic determines whether the user is actually part of that organization

[2022-11-07 03:10] mcelicalderon commented on #249
Hey, @benkovy! I'm not sure I completely understand what you want to accomplish.

I guess you could change the logic in the login mutation so if you login using one model you could set the same token for another model with a field in common?

Also, I think what you are saying sounds a bit like oauth? So upon login you can choose what the user login in has access to? I know DTA has oauth support, I

[2022-11-26 00:20] tatosjb commented on #243
I give a look at [graphql-guard](https://github.com/exAspArk/graphql-guard) gem. It does not work on the newer version of ruby-graphql, and since all the interface it was written on top of was removed, I think it'll not be updated to work with. It was written on top of `accepts_definitions`, `to_graphql`, and `graphql_definition`. All of them were removed on version 2.0 and I think this is the rea

[2022-11-28 21:57] mcelicalderon commented on #243
That's a good idea. That might be a good alternative. graphql-guard definitively looks abandoned. But I still have to look into supporting this in this gem. As I said before, maybe performance won't be too affected if we check every level of the query (at least for presence of the `authenticate` key)

[2022-11-29 01:22] tatosjb commented on #243
I think that I have a hint about why it's abandoned looking into this [doc](https://graphql-ruby.org/authorization/authorization.html#field-authorization)
![image](https://user-images.githubusercontent.com/7603203/204413961-e910787e-d1f7-4117-bbfe-be7166857c69.png)

Ps: no end code down there, just some ideas about it for anyone that comes here

Doing something like this should work.

Configure `a